# GENERATED from swagger.yaml (public tier: ga+beta) — do not edit, do not commit.
openapi: 3.0.1
info:
  title: Wefunder API v2
  description: |
    OAuth 2.0 API for accessing Wefunder data programmatically.

    ## Authentication

    This API uses OAuth 2.0 for authentication. To get started:

    1. Create an OAuth application at `/oauth/applications`
    2. Get your Client ID and Client Secret
    3. Implement the OAuth 2.0 Authorization Code flow
    4. Use the access token to make API requests

    ## Versioning

    The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by
    the URL. Resolution is header → your application's pinned version → latest; every response
    carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An
    unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.

    ## Rate Limits

    - Standard API: 1,000 requests/hour per token
    - Admin API: 10,000 requests/hour per token

    ## Base URL

    All API requests should be made to: `https://api.wefunder.com` (no version in the path).
  version: '2.0'
  contact:
    name: Wefunder API Support
    email: api@wefunder.com
servers:
  - url: https://api.wefunder.com
    description: One host for live and sandbox; the credential prefix (pk_live_ / pk_test_) selects the environment. There is currently one API version and no version appears in the path.
paths:
  /explore:
    get:
      tags:
        - Explore
      summary: List public offerings
      description: |
        Returns the offerings shown on wefunder.com/explore — the curated set of companies that
        meet Wefunder's discoverability bar (a soft-confirmed traction threshold plus approval),
        **one offering per company**. An "offering" is a fundraise, addressed by its id
        (`ofr_...`).

        **Public view (`read:public`).** Reachable with either a server-side (client_credentials)
        token or a user access token. Private rounds (e.g. Reg D 506(b)) are never listed, and
        low-traction or unapproved companies are excluded — exactly as they are on the website
        for a logged-out visitor.

        **Logged-in view (`read:explore`).** A user access token carrying `read:explore` gets
        what *that user* sees on wefunder.com/explore: the public offerings plus any the user
        qualifies for (accredited-only / Vault deals, invited private rounds), each checked
        against the same visibility policy the website applies. The response is a strict
        superset of the public one — same fields and ids — with two extra attributes,
        `publicly_visible` and `invested`, and `meta.personalized: true`. A server-side key can
        never hold `read:explore`; a token with `read:explore` but no resolvable user gets the
        public view.

        Order with `sort` (default: most raised); paginate with `cursor`. `meta.total_count` is
        the number of offerings across all pages, after filters.

        **Filters** are objective, per-offering terms — exemption family, security type,
        TTW vs. live, minimum investment ceiling, close date, amount raised floor. The response
        echoes the applied set in `meta.filters`. An out-of-vocabulary value is a `400` naming
        the accepted values. There are deliberately no relevance, quality, or ranking criteria.

        Use this endpoint to:
        - Discover and monitor active deals
        - Build deal aggregators and public listings
      operationId: listOfferings
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - $ref: '#/components/parameters/cursor'
        - name: sort
          in: query
          description: |
            Result ordering:
            - `most_raised` (default) — highest amount raised first
            - `closing_soon` — soonest funding close first
            - `newest` — most recently launched first
            - `most_investors` — highest investor count first
          schema:
            type: string
            enum:
              - most_raised
              - closing_soon
              - newest
              - most_investors
            default: most_raised
          example: most_raised
        - name: exemption
          in: query
          description: Only offerings under this SEC exemption family. Reg CF and Reg D are the supported public filters.
          schema:
            type: string
            enum:
              - reg_cf
              - reg_d
          example: reg_cf
        - name: security
          in: query
          description: Only offerings issuing this kind of security — the `security.type` value on results.
          schema:
            type: string
            enum:
              - safe
              - equity
              - convertible_note
              - revenue_share
              - debt
              - fund
              - other
          example: safe
        - name: testing_the_waters
          in: query
          description: '`false` — only live rounds accepting investments; `true` — only Testing-the-Waters rounds collecting non-binding reservations.'
          schema:
            type: boolean
          example: false
        - name: max_min_investment
          in: query
          description: Only offerings whose minimum investment is at most this amount (USD).
          schema:
            type: number
          example: 100
        - name: closing_before
          in: query
          description: Only offerings whose funding close date is on or before this date (ISO 8601). Offerings with no close date are excluded.
          schema:
            type: string
            format: date
          example: '2026-12-31'
        - name: min_amount_raised
          in: query
          description: Only offerings that have raised at least this amount so far (USD).
          schema:
            type: number
          example: 250000
        - name: industry
          in: query
          description: |
            Only companies tagged with any of these industries — the curated tags the wefunder.com
            explore page filters by (see each offering's `industries`). One value or a comma-separated
            list; unknown values are a 400 listing the vocabulary. Objective facets, not a ranking.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ar_and_vr
                - agriculture_and_agtech
                - artificial_intelligence
                - biotech
                - blockchain_and_web3
                - edtech
                - energy
                - fintech_and_finance
                - food_tech
                - games
                - health_and_fitness
                - healthcare
                - manufacturing
                - mobile_apps
                - robotics
                - science_and_r_and_d
                - transportation
                - travel_and_tourism
                - bars_and_clubs
                - brewery
                - cafe_and_food_truck
                - events_and_festivals
                - education
                - distillery_and_vineyards
                - fashion
                - film
                - media
                - music
                - restaurant
                - sports
                - real_estate
                - pets
                - recreation
                - infrastructure_and_construction
                - childcare
                - sustainability
                - sports_tech
                - home_tech
                - devtools
                - clean_tech
                - beauty
                - entertainment
                - technology
                - brick_and_mortar
                - food_and_beverage
                - climate_change
                - alcohol_and_vice
                - consumer_goods
                - hardware
                - moonshots
          example: robotics,hardware
        - name: business_model
          in: query
          description: Only companies with any of these business models (see each offering's `business_models`). One value or a comma-separated list.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - b2b
                - b2c
                - subscription
                - saas
                - service
                - marketplace
                - ecommerce
                - retail
          example: b2b
        - name: followed
          in: query
          description: |
            **Logged-in view only** (`read:explore` with a user). `true` — only companies the
            authorizing user follows on wefunder.com (their watchlist); `false` — only companies
            they do not follow. A 400 on the public view, which has no user to filter by.
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingListEnvelope'
        '400':
          description: A filter value is out of vocabulary or malformed; `error.message` names the accepted values.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            // Browse live offerings, sorted. The cursor is opaque and handled for you.
            const page = await wf.offerings.list({ sort: "most_raised" });
            for (const offering of page.data ?? []) {
              console.log(offering.id, offering.attributes?.company_name);
            }

            // Or stream every offering lazily, one page fetched at a time:
            for await (const offering of wf.offerings.all({ sort: "newest" })) {
              console.log(offering.id);
            }
        - lang: Python
          label: wefunder
          source: |-
            # Browse live offerings, sorted. The cursor is opaque and handled for you.
            page = wf.offerings.list(sort="most_raised")
            for offering in page.data:
                print(offering.id, offering.attributes.company_name)

            # Or stream every offering lazily, one page fetched at a time:
            for offering in wf.offerings.all(sort="newest"):
                print(offering.id)
  /offerings/{external_id}:
    get:
      tags:
        - Explore
      summary: Get a public offering
      description: |
        Retrieves a single offering by its id (`ofr_...`).

        With `read:public`, a valid id for a non-public offering (e.g. a private Reg D 506(b)
        round) returns `404` — having an id does not make an offering publicly resolvable. With
        `read:explore` on a user access token, the offering resolves if *that user* may see it on
        wefunder.com (e.g. an accredited-only or invited round), and the response gains
        `publicly_visible` and `invested`.
      operationId: getOffering
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: external_id
          in: path
          required: true
          description: The offering's id (`ofr_...`).
          schema:
            type: string
          example: ofr_yw3OhusvpfJP4Pk3wRYV1F2R
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const offering = await wf.offerings.get("ofr_QfmTyP8qjfYAvkEgREyL3kLf");
            console.log(offering.attributes?.company_name, offering.attributes?.status);
        - lang: Python
          label: wefunder
          source: |-
            try:
                offering = wf.offerings.get(offering_id)
            except WefunderError as err:
                # 404 → err.type == "not_found"; err.request_id is what support asks for.
                print(err.status, err.type, err.request_id)
                raise
            print(offering.attributes.company_name, offering.attributes.status)
  /companies/{id}/disclosures:
    get:
      tags:
        - Explore
      summary: Get a company's public Form C disclosures
      description: |
        The Details tab of the company's Wefunder page as structured data — the company's own
        Form C disclosures, section for section: financial statements for the fiscal years on
        file, the page's ratios, the founder's current-position disclosure (cash on hand, monthly
        revenue / costs / burn), the financial-condition narrative, document links, risks, use of
        funds, directors and officers, 20%+ holders, capital structure, prior offerings, outstanding
        notes and debts, and related-party transactions.

        Same "who has a page" rule as `GET /companies/{id}`. The round read is the page's own: the
        display round for the viewer, swapped for its concurrent Reg CF sibling on a Reg D round,
        and only when it is a Reg CF / ECSP round with a Form C. A company with no such round has
        no details tab on the site and answers `404` with `error.type: no_disclosures` — distinct
        from an unknown or hidden company. A section the company hides on the site is `null`.

        Money is decimal strings, never USD by assumption: the round's own figures (use of funds,
        prior offerings, notes, debts, related parties) are in `currency` — `EUR` for an ECSP round —
        while the Form C financial statements, the ratio derived from them, and the current-position
        figures (which repeat it as `current_position.currency`) are in `financials_currency`, the
        currency the issuer declared for its statements (it can differ from
        the round's: DKK, RON, GBP, or USD statements behind a EUR round). Ratios are percentages as
        decimal strings. Everything here is the issuer's own disclosure, served as filed, not a
        Wefunder assessment.
      operationId: getCompanyDisclosures
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
        - name: sections
          in: query
          description: |
            Only these sections (`offering_id`, `currency`, `financials_currency` and `filing` are always
            included). Omit for the whole tab; a disclosure-heavy company runs to ~100 KB. Unknown names
            are a 400 listing the vocabulary.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - business
                - financial_statements
                - ratios
                - current_position
                - financial_condition
                - financial_statement_documents
                - investment_documents
                - risks
                - use_of_funds
                - directors
                - officers
                - voting_power
                - capital_structure
                - prior_offerings
                - outstanding_notes
                - outstanding_debts
                - related_parties
          example: financial_statements,ratios,current_position
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDisclosuresEnvelope'
        '400':
          description: '`sections` names a section that does not exist.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown or hidden company (`error.type` = `not_found`), or no public Form C disclosures (`error.type` = `no_disclosures`).
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: disclosures } = await wf.unwrap(
              wf.raw.getCompanyDisclosures({
                path: { id: "co_abc123Example" },
                query: { sections: ["business", "risks", "use_of_funds"] },
              }),
            );
            console.log(disclosures?.attributes);
  /companies/{id}/pitch:
    get:
      tags:
        - Explore
      summary: Get a company's pitch
      description: |
        The Overview tab's pitch as structured data: the story as ordered blocks (`heading`,
        `paragraph`, `list`, `image`, `video`, `footnote`), plus the perk tiers of the round the page
        shows the viewer. Images and embedded videos keep their place in the document with an absolute
        URL, because founders publish perk tiers, stretch goals, timelines, and charts as pictures
        (typically with no alt text) and a plain-text rendering would drop them.

        What is parsed is what the page renders: the story passes through the site's own sanitizer
        first, so an embed the page refuses (a host off its allowlist, a `javascript:` URL) is never
        served here either. Same "who has a page" rule and round chooser as `GET /companies/{id}`.
        A site-public company with no round the viewer may see still has a pitch (`perks: null`).
        `perks.described_in_pitch` is a heuristic: true when the structured perk list is a placeholder
        ("See investor overview page", or one identical sentence on every tier) and the real tiers are
        in the story's images.

        `authored_by` says who wrote the story: `company` (the issuer's own words and imagery, not a
        Wefunder assessment) or `wefunder` (a Wefunder-prepared deal memo the company did not
        participate in; `disclaimer` carries the page's notice). A pitch can run to ~70 KB; use
        `sections` to ask for less.
      operationId: getCompanyPitch
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
        - name: sections
          in: query
          description: |
            Only these sections (`offering_id`, `title`, `url`, `authored_by`, and `disclaimer` are
            always included). Omit for the whole pitch. Unknown names are a 400 listing the vocabulary.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - perks
          example: perks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyPitchEnvelope'
        '400':
          description: '`sections` names a section that does not exist.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown or hidden company.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: pitch } = await wf.unwrap(
              wf.raw.getCompanyPitch({ path: { id: "co_abc123Example" }, query: { sections: ["story", "perks"] } }),
            );
            console.log(pitch?.attributes);
  /companies/{id}/updates:
    get:
      tags:
        - Explore
      summary: List a company's posts
      description: |
        The company page's Posts tab as data: the published updates, notes, and spotlights the
        viewer may see, pinned first then newest, with a plain-text excerpt each. With
        `read:explore` the viewer is the authorizing user, so a follower or investor sees the
        community- and investors-only posts the site shows them; with `read:public` it is the
        anonymous view. Same query as the tab (`FeedItem.viewable_by`); investments, Q&A threads,
        and investor quotes belong to other tabs and are not here. Fetch one post in full with
        `GET /companies/{id}/updates/{update_id}`. Posts are the issuer's own words.
      operationId: listCompanyUpdates
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
        - name: cursor
          in: query
          schema:
            type: string
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown company, or one the site does not show this viewer.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const page = await wf.unwrap(wf.raw.listCompanyUpdates({ path: { id: "co_abc123Example" }, query: { per_page: 10 } }));
            for (const update of page.data ?? []) console.log(update.id, update.attributes?.title);
            console.log(page.meta?.next_cursor);
  /companies/{id}/updates/{update_id}:
    get:
      tags:
        - Explore
      summary: Get one company post in full
      description: One post with its full plain-text content, by the id the list returned. Same visibility as the list; a post the tab would not show this viewer is a 404.
      operationId: getCompanyUpdate
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: update_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown company or post, or one the site does not show this viewer.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: update } = await wf.unwrap(
              wf.raw.getCompanyUpdate({ path: { id: "co_abc123Example", update_id: "upd_9t2xExample" } }),
            );
            console.log(update?.attributes?.title);
  /companies/{id}/questions:
    get:
      tags:
        - Explore
      summary: List a company's investor questions and answers
      description: |
        The company page's Ask tab as data: the questions investors asked and the answers, as the
        tab lists them for this viewer (the same repository and visibility as the site). Like the tab,
        questions default to the current raise — those asked since it opened (`meta.questions_since`);
        `past_raises=true` includes every raise, which the site offers to any visitor because
        past-raise questions are public. `sort` is the tab's dropdown: `relevance` (default:
        highlighted, then answered, then most liked), `recent`, `upvoted`, `unanswered`. Text is plain.
        Questions and answers carry their id (`cmt_...`); the integer key never leaves the API.
        Answers are the founders' own words.

        `q` searches question and answer text (Postgres full text: quoted phrases and `-word` work;
        one- or two-word queries also prefix-match) and replaces the sort with match rank —
        `meta.sort` is then `search` and each result's `match` says whether its question or an
        answer matched. `unanswered_by_team=true` keeps only questions with no live answer from the
        company's team (the founder's queue; the `unanswered` sort merely orders by whether anyone
        replied).
      operationId: listCompanyQuestions
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - relevance
              - recent
              - upvoted
              - unanswered
            default: relevance
        - name: past_raises
          in: query
          schema:
            type: boolean
            default: false
        - name: q
          in: query
          description: Full-text search over questions and answers. At most 200 bytes.
          schema:
            type: string
            maxLength: 200
        - name: unanswered_by_team
          in: query
          schema:
            type: boolean
            default: false
        - name: cursor
          in: query
          schema:
            type: string
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyQuestionListEnvelope'
        '400':
          description: '`sort` is not one of the tab''s options, or `q` is over 200 bytes.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown company, or one the site does not show this viewer.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const page = await wf.unwrap(
              wf.raw.listCompanyQuestions({
                path: { id: "co_abc123Example" },
                query: { q: "revenue", unanswered_by_team: true, per_page: 20 },
              }),
            );
            for (const question of page.data ?? []) console.log(question.id, question.attributes);
  /companies/search:
    get:
      tags:
        - Companies
      summary: Search companies by name
      description: |
        The wefunder.com search bar, companies only. Same Algolia request, same result ordering,
        and same page size as the site's top bar, so the results are what a visitor typing the
        same text would see, in that order — companies raising now and companies funded in the
        past, whether or not they appear on `/explore`. The order is the site's search order
        (match quality first, then the site's tie-breaks); nothing here recommends.

        Each result carries the company's `co_` id for `GET /companies/{id}`. With `read:explore`
        the accreditation gate matches the authorizing user (an accredited viewer sees the
        accredited-only companies the site would show them); with `read:public` it is the
        anonymous view.
      operationId: searchCompanies
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: q
          in: query
          required: true
          description: The company name, or part of it. At most 200 characters and 500 bytes.
          schema:
            type: string
            maxLength: 200
          example: acme
        - name: limit
          in: query
          description: Maximum results, 1–20. Default 8, the same as the site.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 8
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySearchResultListEnvelope'
        '400':
          description: '`q` is missing, blank, or over 200 characters / 500 bytes.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The token holds neither `read:public` nor `read:explore`.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '503':
          description: The search provider failed; retry. Not "no results".
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const results = await wf.unwrap(wf.raw.searchCompanies({ query: { q: "solar", limit: 5 } }));
            for (const hit of results.data ?? []) console.log(hit.id, hit.attributes?.name);
  /companies/{id}:
    get:
      tags:
        - Explore
      summary: Get a company page
      description: |
        The company page behind an offering, as structured data — the "click a company" step after
        `/explore`. Addressed by the `co_...` id every offering carries in `company.id`.

        Keeps apart the three raised numbers the page shows and readers conflate:
        `current_raise.amount_raised` (this campaign's live rounds combined, on Wefunder),
        `past_rounds[]` (prior rounds the page lists, each tagged `source: wefunder` for rounds
        observed here or `reported` for founder-disclosed off-platform rounds), and
        `totals.profile_total_raised` (the number on the page's ticker bar). Every figure comes
        from the same policy the page uses, so the API never disagrees with the site.

        **Who has a page.** Every company whose profile wefunder.com lists publicly — the same set
        the site's search bar returns (published, not invite-only, searchable or with a live Form C;
        accredited-only companies need an accredited viewer) — plus the `/explore` set. A funded
        company, or one the viewer may see no round of, renders with `raising: false` and
        `current_raise: null`; its history is in `wefunder_rounds`. **Logged-in view
        (`read:explore`)** additionally covers the vault / syndicate-led companies the site shows an
        accredited viewer, and the round described is the one the page would show that viewer. A
        valid id for a company outside the viewer's set is a `404`, never a partial payload.
      operationId: getCompany
      security:
        - bearerAuth:
            - read:public
        - bearerAuth:
            - read:explore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The company's id (`co_...`).
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown id, or a company the viewer may not see.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: company } = await wf.unwrap(wf.raw.getCompany({ path: { id: "co_abc123Example" } }));
            console.log(company?.attributes?.name);
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      description: |
        Retrieves the profile information for the currently authenticated user. This endpoint returns
        basic user details including name, email, and account status.

        Use this endpoint to:
        - Display user information in your application
        - Verify the identity of the authenticated user
        - Check user account status and permissions

        The response includes the user's unique ID which can be used to reference the user in other API calls.
      operationId: getCurrentUser
      security:
        - bearerAuth:
            - read:profile
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const me = await wf.users.me();
            console.log("Logged in as", me.id);
        - lang: Python
          label: wefunder
          source: |-
            me = wf.users.me()
            print(me.id, me.attributes.name)
  /users/me/companies:
    get:
      tags:
        - Users
      summary: List the companies you edit
      description: |
        The companies the authenticated user is a founder or team member of — precisely the
        companies the founder-scoped endpoints under `/companies/{company_id}/...` (dashboard,
        investors, fundraises) will accept. Anyone else's company returns 403 there, so call this
        first to learn which `co_` ids you hold. Not paginated.

        `raising` is true when the company has a round currently accepting investments or
        reservations. `roles` are the user's roles on the company (`founder`, `employee`, ...).
      operationId: listMyCompanies
      security:
        - bearerAuth:
            - read:companies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyCompanyListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const companies = await wf.unwrap(wf.raw.listMyCompanies());
            for (const company of companies.data ?? []) console.log(company.id, company.attributes?.name);
  /users/me/follows:
    get:
      tags:
        - Users
      summary: List the companies you follow
      description: |
        The authenticated user's watchlist — the companies they follow on wefunder.com (the same
        rows the site's Follow button writes), newest first. Each entry is in the search-result
        shape (`co_` id, name, tagline, URL, logo, `raising`, `profile_available`) plus
        `followed_at`. The list owner sees every company they follow.
      operationId: listFollowedCompanies
      security:
        - bearerAuth:
            - read:follows
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowedCompanyListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const page = await wf.unwrap(wf.raw.listFollowedCompanies({ query: { per_page: 25 } }));
            for (const company of page.data ?? []) console.log(company.id);
  /users/me/follows/{company_id}:
    put:
      tags:
        - Users
      summary: Follow a company
      description: |
        Follow the company for the authenticated user — exactly what pressing Follow on its
        Wefunder page does, side effects included (the company counts the user as a follower and
        may be notified; the user receives the company's updates). Idempotent: following an
        already-followed company returns `changed: false`. `404` for a company the site would not
        show this user. Requires `write:follows`, which the user grants explicitly; it is never
        implied by `read:mcp`.
      operationId: followCompany
      security:
        - bearerAuth:
            - write:follows
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
      responses:
        '200':
          description: The follow state after the call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowStateEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The token does not hold `write:follows`.
        '404':
          description: Unknown company, or one the site does not show this user.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const result = await wf.unwrap(wf.raw.followCompany({ path: { company_id: "co_abc123Example" } }));
            console.log(result);
    delete:
      tags:
        - Users
      summary: Unfollow a company
      description: 'Unfollow the company for the authenticated user. Idempotent (`changed` is false when they were not following it). No visibility gate: a follow you hold is always undoable, even for a company since hidden. Requires `write:follows`.'
      operationId: unfollowCompany
      security:
        - bearerAuth:
            - write:follows
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
          example: co_8Kd0aB3xQ9k2vF8mNp1zT5wY
      responses:
        '200':
          description: The follow state after the call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowStateEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The token does not hold `write:follows`.
        '404':
          description: Unknown company.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const result = await wf.unwrap(wf.raw.unfollowCompany({ path: { company_id: "co_abc123Example" } }));
            console.log(result);
  /investments:
    get:
      tags:
        - Investments
      summary: List or sync investments
      description: |
        The investment records the token may see, served from **published** state
        (docs: *Investments: list, sync, retrieve*). The audience is the union of the companies
        the token's user edits (their founder-visible records) and the user's own investments
        (every applied record of theirs, whatever its status). Filters narrow within that
        audience; they never widen it.

        Three ways to call it:
        - **List** (no `cursor`, no `updated_since`): the current records, tombstones excluded,
          ordered by investment. Page with `meta.next_cursor` while `meta.has_more`; the final
          page's cursor is a sync cursor positioned at the moment the listing started.
        - **Sync by cursor**: only the records whose published state changed since the cursor,
          one record per investment, tombstones (`visible: false`, only `id`) included. Apply in
          `cursor` order; always store `meta.next_cursor`.
        - **Sync by time**: `updated_since=<ISO 8601>` is sugar for a cursor at the ledger position
          just before that time (with a 60 s safety margin). The response is a normal sync page,
          so continue with its `meta.next_cursor`.

        Records are eventually consistent (about ten minutes on the common paths); each carries
        `observed_at`. `GET /investments/{id}` returns the same shape derived now. Investor
        identity fields on other investors' records require `read:investors:pii`; a user always
        sees their own. Money is integer minor units plus `amounts.currency`.

        **410 Gone** means the cursor or `updated_since` predates the 90-day retention window:
        list again and replace your dataset. `status` cannot be combined with sync (a record
        leaving the status would never be delivered).
      operationId: listInvestments
      security:
        - bearerAuth:
            - read:investments
      parameters:
        - name: company_id
          in: query
          required: false
          description: Company external id (`co_…`).
          schema:
            type: string
        - name: offering_id
          in: query
          required: false
          description: |
            Offering external id (`ofr_…`). In sync mode an investment that moved to another
            offering is delivered once more as a tombstone under this filter.
          schema:
            type: string
        - name: investor_id
          in: query
          required: false
          description: Investor external id (`usr_…`).
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: List mode only.
          schema:
            type: string
            enum:
              - reserved
              - active
              - executed
              - canceled
              - converted
        - name: updated_since
          in: query
          required: false
          description: ISO 8601 timestamp; switches to sync mode. Mutually exclusive with `cursor` (cursor wins).
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          required: false
          description: Opaque cursor from a previous response's `meta.next_cursor`.
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Records per page, 1–100 (default 25). Sync pages count distinct investments.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: A page of records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentListEnvelope'
        '400':
          description: Malformed cursor or `updated_since`, unknown `status`, or `status` combined with sync.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Unknown `company_id`, `offering_id` or `investor_id`.
        '410':
          description: |
            The cursor or `updated_since` is older than the retention window. List again (no
            cursor) and replace your stored records from the result.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            // Auto-paginate the full history lazily:
            for await (const investment of wf.investments.all()) {
              console.log(investment.id);
            }

            // Or grab one page with its meta (next_cursor, etc.):
            const page = await wf.investments.list();
            console.log(page.data?.length, page.meta?.next_cursor);
        - lang: Python
          label: wefunder
          source: |-
            # First sync: no cursor. Persist meta.next_cursor after EVERY page — it is always
            # present, even on the last one — and pass it back next time for only what changed.
            page = wf.investments.list(company_id="co_abc123Example")
            for record in page.data:
                print(record.id, record.visible)
            checkpoint = page.meta.next_cursor

            # Or let the SDK walk every page (stops on has_more=false):
            changed = wf.investments.collect(company_id="co_abc123Example", updated_since="2026-09-01T00:00:00Z")
  /investments/{id}:
    get:
      tags:
        - Investments
      summary: Retrieve an investment (current)
      description: |
        The same record shape as the list, derived **now** from the investment rather than read
        from published state, so an investor who just acted sees the change at once. Available
        for any investment in the token's audience: the user's own (any status) or a
        founder-visible investment on a company the user edits. `meta.published_matches` says
        whether the published record already agrees; the sync stream converges within its
        interval.
      operationId: getInvestment
      security:
        - bearerAuth:
            - read:investments
      parameters:
        - name: id
          in: path
          required: true
          description: Investment external id (`inv_…`).
          schema:
            type: string
      responses:
        '200':
          description: The current record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found, not in the token's audience, or not visible to it.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const investment = await wf.investments.get("inv_8f3kQ2Example");
            console.log(investment.status, investment.amounts?.committed_cents, investment.investor?.id);
  /offerings/{offering_id}/stats:
    get:
      tags:
        - Investments
      summary: Investment totals for an offering
      description: |
        Count and committed amount of the founder-visible published records for one offering,
        by status, from the same rows `GET /investments?offering_id=…` lists, so the two
        reconcile. These are **not** the public campaign figures (the progress bar has its own
        rules and sources); they are the sum of the records you can list. Requires the token's
        user to edit the offering's company.
      operationId: getOfferingStats
      security:
        - bearerAuth:
            - read:investments
      parameters:
        - name: offering_id
          in: path
          required: true
          description: Offering external id (`ofr_…`).
          schema:
            type: string
      responses:
        '200':
          description: Totals by status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingStatsEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The token's user does not edit the offering's company.
        '404':
          description: Unknown offering.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: stats } = await wf.unwrap(
              wf.raw.getOfferingStats({ path: { offering_id: "ofr_QfmTyP8qjfYAvkEgREyL3kLf" } }),
            );
            console.log(stats);
  /companies/{company_id}/investments/changes:
    get:
      tags:
        - Investment Delta
      summary: Bootstrap or page investment changes for a company
      description: |
        The Investment Delta API: keep a copy of a company's investment records in sync by
        polling. Call without `cursor` to **bootstrap** (list every current record for the
        company); every response carries `meta.next_cursor`; call again with that cursor to
        receive only the records whose published state changed since. Records are the same
        shape in both modes.

        - Records are **published state**, not live rows: Wefunder publishes a record when the
          investment's founder-visible state changes, and serves exactly what was published.
        - `visible: false` records are **tombstones**: the investment is no longer visible to the
          company (canceled, converted to another round, hidden, or deleted). Delete your copy.
        - Apply records in `cursor` order. `observed_at` is when the payload was observed, not a
          version; a record you read late carries the *current* published state.
        - **410 Gone** means your cursor predates the 90-day retention window. Bootstrap again and
          **replace** your dataset for the company from the result (records absent from the
          bootstrap are deleted).
        - Investor identity fields (`investor.name`, `investor.legal_name`, `investor.email`,
          `investor.address`, `investor.bio`, `message`, `external_username`) are **omitted**
          unless the token carries `read:investors:pii`.
        - Money is integer minor units plus `amounts.currency` (`committed_cents`,
          `investment_size_cents`, `in_escrow_cents`, `contracts[].override_amount_cents`).
          `shares` and `average_share_price` are decimal strings, `null` on rounds without shares.
          `amounts.raised_cents` is the row's contribution to the public raised figure (0 while
          `needs_whitelisting`); sum it, not `committed_cents`, to match the deal page.
      operationId: listCompanyInvestmentChanges
      security:
        - bearerAuth:
            - read:investments
        - bearerAuth:
            - read:companies
      parameters:
        - name: company_id
          in: path
          required: true
          description: The company's external id (`co_…`).
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: |
            Opaque cursor from a previous response's `meta.next_cursor`. Omit to bootstrap.
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Records per page, 1–100 (default 25). Delta pages count distinct investments.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: A page of records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentChangeListEnvelope'
        '400':
          description: Malformed cursor.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Token lacks both `read:investments` and `read:companies`, or the user cannot edit this company.
        '410':
          description: |
            The cursor is older than the retention window. Bootstrap again (no cursor) and replace
            your stored records for this company.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            // Walk every change for one company. Persist meta.next_cursor after each page — it is
            // always present, even on the last page — and pass it back next sync for only what changed.
            let cursor: string | undefined;
            do {
              const page = await wf.unwrap(
                wf.raw.listCompanyInvestmentChanges({ path: { company_id: companyId }, query: { cursor, per_page: 50 } }),
              );
              for (const record of page.data ?? []) console.log(record.id, record.visible);
              cursor = page.meta?.next_cursor;
              if (!page.meta?.has_more) break;
            } while (cursor);
        - lang: Python
          label: wefunder
          source: |-
            # Walk every change for one company. Persist meta.next_cursor after each page — it is
            # always present, even on the last page — and pass it back next sync for only what changed.
            cursor: str | None = None
            while True:
                page = wf.call(list_company_investment_changes, company_id=company_id, cursor=cursor, per_page=50)
                for record in page.data:
                    print(record.id, record.visible)
                cursor = page.meta.next_cursor
                if not page.meta.has_more:
                    break
  /portfolio:
    get:
      tags:
        - Portfolio
      summary: Get portfolio summary
      description: |
        Returns totals across the authenticated investor's portfolio: cost basis,
        current value, realized and unrealized gains, and per-status position counts.
        Accepts the same `status` and `company` filters as `GET /portfolio/positions`
        to total a slice of the portfolio, such as only exited positions.

        Requires a user-authorized token. App-only (client credentials) tokens
        receive 403.

        Portfolio values are recalculated periodically rather than on each request,
        so recent investments and valuation changes can take a few minutes to appear.
        `as_of` is the timestamp of the oldest calculation included in the response.

        Monetary values are **integer cents**; per-share prices and return multiples
        are **decimal strings**.
      operationId: getPortfolio
      security:
        - bearerAuth:
            - read:investments
      parameters:
        - name: status
          in: query
          description: Total only positions with this status.
          schema:
            type: string
            enum:
              - active
              - exited
              - sold
              - failed
        - name: company
          in: query
          description: Total only positions in this company, by its id (`co_...`). Unknown ids return 404.
          schema:
            type: string
          example: co_2bt9eJn6X8C9gnShl63qlzkK
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioSummaryEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const summary = await wf.portfolio.get();
            console.log(
              summary.attributes?.total_current_value_cents,
              summary.attributes?.return_multiple,
            );
  /portfolio/positions:
    get:
      tags:
        - Portfolio
      summary: List portfolio positions
      description: |
        Returns the authenticated investor's positions, one per offering
        (fundraise), newest first. Position totals cover everything the investor
        holds in that offering; `securities` breaks the total down by security
        offering and legal owner, so early bird tiers and personally-held vs
        entity-held stakes each appear separately. Fund and SPV positions identify
        the companies the vehicle invested in under `holdings`.

        To compute an average cost per share, divide `cost_basis_cents` by
        `shares_held`.

        Requires a user-authorized token, like `GET /portfolio`.
      operationId: listPortfolioPositions
      security:
        - bearerAuth:
            - read:investments
      parameters:
        - $ref: '#/components/parameters/cursor'
        - name: per_page
          in: query
          description: Page size, 1-100. Defaults to 25.
          schema:
            type: integer
            default: 25
            maximum: 100
        - name: status
          in: query
          description: Filter positions by status.
          schema:
            type: string
            enum:
              - active
              - exited
              - sold
              - failed
        - name: company
          in: query
          description: Filter to a single company by its id (`co_...`). Unknown ids return 404.
          schema:
            type: string
          example: co_2bt9eJn6X8C9gnShl63qlzkK
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPositionListEnvelope'
        '400':
          description: Invalid filter value (unknown status or malformed cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Filtered company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            for await (const position of wf.portfolio.positions.all({ status: "active" })) {
              console.log(
                position.id,
                position.attributes?.company?.name,
                position.attributes?.current_value_cents,
              );
            }
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: List founder campaigns
      description: |
        Retrieves all fundraising campaigns for companies where the authenticated user is a founder.
        This endpoint returns comprehensive campaign data including funding progress, investor counts,
        and campaign status.

        Use this endpoint to:
        - Build custom founder dashboards
        - Monitor fundraising progress across multiple campaigns
        - Generate reports on campaign performance
        - Integrate campaign data into your own tools

        Only founders with the appropriate permissions can access this endpoint. The response includes
        both active and closed campaigns, with detailed metrics for each.
      operationId: listCampaigns
      security:
        - bearerAuth:
            - read:offerings
      parameters:
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            // Campaigns for companies where the authenticated user is a founder.
            const page = await wf.campaigns.list();
            for (const campaign of page.data ?? []) {
              console.log(campaign.id, campaign.attributes?.company_name, campaign.attributes?.amount_raised);
            }

            // Or stream every campaign lazily, one page fetched at a time:
            for await (const campaign of wf.campaigns.all()) {
              console.log(campaign.attributes?.state);
            }
  /syndicates:
    get:
      tags:
        - Syndicates
      summary: List syndicates
      description: |
        Returns syndicates the authenticated user can manage, based on their roles.
        Results can be filtered by status and sorted by name or creation date.
      operationId: listSyndicates
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor from the previous response's `meta.next_cursor`.
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Results per page, 1-100. Defaults to 25.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const page = await wf.syndicates.list({ limit: 50 });
            for (const syndicate of page.data ?? []) {
              console.log(syndicate.id, syndicate.attributes?.name, syndicate.attributes?.member_count);
            }
  /syndicates/{syndicate_id}:
    get:
      tags:
        - Syndicates
      summary: Get syndicate details
      description: Returns full details for a specific syndicate including settings, team configuration, and summary metrics.
      operationId: getSyndicate
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDetailEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Syndicate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const syndicate = await wf.syndicates.get(42);
            console.log(syndicate.attributes?.name, syndicate.attributes?.deal_count);
    patch:
      tags:
        - Syndicates
      summary: Update syndicate settings
      description: |
        Update syndicate configuration. Currently supports name, description, and tagline.
        Requires `write:syndicates` scope and at least operator permission.
      operationId: updateSyndicate
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - syndicate
              properties:
                syndicate:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Acme Syndicate
                    description:
                      type: string
                    tagline:
                      type: string
      responses:
        '200':
          description: Syndicate updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDetailEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/members:
    get:
      tags:
        - Syndicate Members
      summary: List members
      description: |
        Returns the member directory for a syndicate with role, status, tags, sidebar notes,
        and investment history summaries. Supports filtering, sorting, search, and pagination.
      operationId: listSyndicateMembers
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - name: role
          in: query
          schema:
            type: string
          description: Filter by role (e.g. creator, manager, member, invitee, applicant)
        - name: permission
          in: query
          schema:
            type: string
            enum:
              - full_access
              - operator
          description: Filter by syndicate permission level
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or email
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - newest
              - oldest
              - alphabetical
              - last_activity
              - investment_amount
          description: |
            Sort order. `investment_amount` (highest total invested first) is **moderator-only**;
            non-moderators requesting it get the default order. Unknown values fall back to the default.
        - name: has_invested
          in: query
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
          description: Filter by whether the member has invested in any syndicate deal
        - name: accredited
          in: query
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
          description: '**Moderator-only.** Filter by accreditation status; ignored for non-moderators.'
        - name: tag
          in: query
          schema:
            type: string
          description: Filter by 'can help with' tag (ILIKE match)
        - name: location
          in: query
          schema:
            type: string
          description: Match on city, state, or country (public location data only).
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor from the previous response's `meta.next_cursor`.
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Results per page, 1-100. Defaults to 25.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/invite:
    post:
      tags:
        - Syndicate Members
      summary: Invite member
      description: Send an invitation to join the syndicate by email.
      operationId: inviteSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: jane@example.com
                name:
                  type: string
                  description: Display name for the invitee
                syndicate_permission:
                  type: string
                  enum:
                    - full_access
                    - operator
                  default: operator
                  description: Permission level. Only the syndicate creator can assign full_access (admin).
      responses:
        '201':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (e.g. already a member)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/members/{member_id}:
    patch:
      tags:
        - Syndicate Members
      summary: Update member
      description: Update title and carry override for a member. Requires operator permission.
      operationId: updateSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - member
              properties:
                member:
                  type: object
                  properties:
                    title:
                      type: string
                      example: Lead Investor
                    carry_percentage_override:
                      type: integer
                      minimum: 1
                      maximum: 100
                      example: 20
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags:
        - Syndicate Members
      summary: Remove member (requires intent)
      description: |
        Removing a member is irreversible and requires human approval through the Intent system.
        This endpoint always returns 422 with a `use_intents` error directing you to
        `POST /intents` with action `syndicates.remove_member`.
      operationId: removeSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '422':
          description: Use intents for this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/members/{member_id}/approve:
    post:
      tags:
        - Syndicate Members
      summary: Approve applicant
      description: Approve a pending applicant. Only applicants can be approved via API; invitees must accept their invite link.
      operationId: approveSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Member approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/{member_id}/hide:
    post:
      tags:
        - Syndicate Members
      summary: Exile member
      description: Exile (hide) a member from the syndicate. Sets their role to exiled.
      operationId: hideSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Member hidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/{member_id}/promote:
    post:
      tags:
        - Syndicate Members
      summary: Promote member to admin
      description: Promote a member to full_access (admin) role. Only the syndicate creator can promote members.
      operationId: promoteSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Member promoted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/{member_id}/demote:
    post:
      tags:
        - Syndicate Members
      summary: Demote member to operator
      description: Demote a member from full_access (admin) to operator permission.
      operationId: demoteSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Member demoted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/{member_id}/restore:
    post:
      tags:
        - Syndicate Members
      summary: Restore exiled or resigned member
      description: Restore a member who was previously exiled or resigned. Sets their role back to member.
      operationId: restoreSyndicateMember
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Member restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateMemberEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/{member_id}/resend_invite:
    post:
      tags:
        - Syndicate Members
      summary: Resend invitation
      operationId: resendSyndicateInvite
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Invitation resent
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/reorder:
    post:
      tags:
        - Syndicate Members
      summary: Reorder members
      description: Set the display order for the member directory.
      operationId: reorderSyndicateMembers
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - member_ids
              properties:
                member_ids:
                  type: array
                  items:
                    type: string
                  description: Member ids as returned by the list endpoint (`mem_…`), in the desired display order. Unknown ids return 404 and change nothing.
                  example:
                    - mem_8Kd0aB3xQ9k2
                    - mem_vF8mNp1zT5wY
                    - mem_2Lq7cR4sX0bE
      responses:
        '200':
          description: Order updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/members/export_csv:
    post:
      tags:
        - Syndicate Members
      summary: Export members CSV
      description: |
        Generate a CSV export of the member directory. Returns the CSV data directly
        with Content-Type text/csv. Requires operator permission.
      operationId: exportSyndicateMembersCsv
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      responses:
        '200':
          description: CSV data
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/deals:
    get:
      tags:
        - Syndicate Deals
      summary: List deals
      description: |
        Returns the syndicate's **live** deals (open, oversubscribed, or closing) with status,
        terms, and metrics. Closed and upcoming rounds are not listed; `statistics.total_deals`
        counts all linked rounds.
      operationId: listSyndicateDeals
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor from the previous response's `meta.next_cursor`.
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Results per page, 1-100. Defaults to 25.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDealListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /syndicates/{syndicate_id}/deals/{fundraise_id}:
    get:
      tags:
        - Syndicate Deals
      summary: Get deal details
      description: Returns full details for a specific deal including investor breakdown.
      operationId: getSyndicateDeal
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/fundraise_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDealDetailEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Deal not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/deals/{fundraise_id}/investors:
    get:
      tags:
        - Syndicate Deals
      summary: List deal investors
      description: |
        Returns syndicate members who invested in this deal. Results are scoped to
        syndicate member user IDs only and sorted by amount descending.

        **Manager/operator only.** Who invested how much is moderator data, as on the
        web deal pipeline page: an ordinary member, backer, or follower of the syndicate
        gets `403`, even with `read:syndicates`. Callers who pass that gate see
        `user_email`.

        `amount` is whole dollars as a string (e.g. `"5000"` is $5,000).

        Offset-paginated: pass `offset` and `per_page`; `meta` carries `total_count`,
        `offset`, `per_page`, and `has_more`. Without `per_page` the full list is returned.
      operationId: listSyndicateDealInvestors
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/fundraise_id'
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Number of investors to skip.
        - name: per_page
          in: query
          schema:
            type: integer
            maximum: 200
          description: Results per page, 1-200. Omit to return every investor.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealInvestorListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            The caller is not a manager or operator of the syndicate (an ordinary member,
            backer, or follower), or the token lacks `read:syndicates`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Deal not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/members/{member_id}/investments:
    get:
      tags:
        - Syndicate Members
      summary: List member investments
      description: |
        Returns this member's investments in syndicate deals. Scoped to the syndicate's
        selected deals (one per company, matching directory semantics). **Moderator-only.**

        `amount` and `meta.total_amount` are whole dollars as strings.
      operationId: listSyndicateMemberInvestments
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberInvestmentListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/statistics:
    get:
      tags:
        - Syndicate Statistics
      summary: Get syndicate statistics
      description: |
        Returns aggregate metrics for a syndicate including member counts, deal counts,
        total raised, and recent activity.

        `total_raised` and `total_investors` are computed from directory-selected deals
        (one per company). `total_deals` and `live_deals` use all linked deals.

        `total_raised` is whole dollars as a string.
      operationId: getSyndicateStatistics
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateStatisticsEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Syndicate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/portfolio:
    get:
      tags:
        - Syndicate Portfolio
      summary: Get syndicate portfolio summary
      description: |
        Returns totals across the syndicate's portfolio: cost basis, current value,
        gains, per-status deal counts, and the number of distinct investors.
        Accepts the same `status` and `company` filters as the positions endpoint
        to total a slice of the portfolio, such as only exited deals.

        The summary covers the syndicate's funded deals, summed across everyone
        holding their securities (not just current members), as aggregate figures
        only. Member-level data is available on the members endpoints.

        Portfolio values are recalculated periodically rather than on each request,
        so recent investments and valuation changes can take a few minutes to appear.
        `as_of` is the timestamp of the oldest calculation included in the response.

        Monetary values are **integer cents**; per-share prices and return multiples
        are **decimal strings**.
      operationId: getSyndicatePortfolio
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - name: status
          in: query
          description: Total only deals with this status.
          schema:
            type: string
            enum:
              - active
              - exited
              - sold
              - failed
        - name: company
          in: query
          description: Total only positions in this company, by its id (`co_...`). Unknown ids return 404.
          schema:
            type: string
          example: co_2bt9eJn6X8C9gnShl63qlzkK
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicatePortfolioSummaryEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Syndicate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const { data: summary } = await wf.unwrap(
              wf.raw.getSyndicatePortfolio({
                path: { syndicate_id: "syn_example" },
              }),
            );
            console.log(summary?.attributes?.total_current_value_cents);
  /syndicates/{syndicate_id}/portfolio/positions:
    get:
      tags:
        - Syndicate Portfolio
      summary: List syndicate portfolio positions
      description: |
        Returns the syndicate's portfolio one deal at a time, newest first. Each
        position is one fundraise ("offering"), aggregated across everyone holding
        its securities, with `investor_count` at both the position and security
        level.

        `securities` breaks each position down by security offering (for example,
        an early bird tier vs the regular terms) — most deals have a single entry.
        Fund and SPV deals identify the companies the vehicle invested in under
        `holdings`; some older vehicles have no recorded holdings and return an
        empty array.
      operationId: listSyndicatePortfolioPositions
      security:
        - bearerAuth:
            - read:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/cursor'
        - name: per_page
          in: query
          description: Page size, 1-100. Defaults to 25.
          schema:
            type: integer
            default: 25
            maximum: 100
        - name: status
          in: query
          description: Filter positions by status.
          schema:
            type: string
            enum:
              - active
              - exited
              - sold
              - failed
        - name: company
          in: query
          description: Filter to a single company by its id (`co_...`). Unknown ids return 404.
          schema:
            type: string
          example: co_2bt9eJn6X8C9gnShl63qlzkK
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPositionListEnvelope'
        '400':
          description: Invalid filter value (unknown status or malformed cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Syndicate or filtered company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const page = await wf.unwrap(
              wf.raw.listSyndicatePortfolioPositions({
                path: { syndicate_id: "syn_example" },
                query: { status: "active", per_page: 25 },
              }),
            );
            for (const position of page.data ?? []) {
              console.log(position.id, position.attributes?.investor_count);
            }
  /syndicates/{syndicate_id}/deals/{fundraise_id}/close:
    post:
      tags:
        - Syndicate Deals
      summary: Close deal
      description: |
        Closing a deal is irreversible and requires human approval through the Intent system.
        This endpoint server-mints a pending `syndicates.close_deal` intent and returns the deal
        under `data` plus the intent's `review_url` under `meta.close_deal_intent`. The deal is
        not transitioned until a permitted human approves the intent in the Wefunder UI.
        Idempotent: a repeated call returns the same pending intent rather than minting a duplicate.
      operationId: closeSyndicateDeal
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/fundraise_id'
      responses:
        '200':
          description: Close intent proposed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDealCloseIntentEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: The deal does not belong to this syndicate, or fundraise_id is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many pending intents for this token (rate limited)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /syndicates/{syndicate_id}/deals/{fundraise_id}/finalize:
    post:
      tags:
        - Syndicate Deals
      summary: Finalize deal
      description: |
        Finalizing a deal is irreversible and requires human approval through the Intent system.
        This endpoint server-mints a pending `syndicates.finalize_deal` intent and returns the
        deal under `data` plus the intent's `review_url` under `meta.finalize_deal_intent`. The
        finalize runs only when a permitted human approves the intent in the Wefunder UI.
        Idempotent: a repeated call returns the same pending intent rather than minting a duplicate.
      operationId: finalizeSyndicateDeal
      security:
        - bearerAuth:
            - write:syndicates
      parameters:
        - $ref: '#/components/parameters/syndicate_id'
        - $ref: '#/components/parameters/fundraise_id'
      responses:
        '200':
          description: Finalize intent proposed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicateDealFinalizeIntentEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: The deal does not belong to this syndicate, or fundraise_id is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many pending intents for this token (rate limited)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /intents/preview:
    post:
      tags:
        - Intents
      summary: Preview an intent without proposing it
      description: |
        Runs every check `POST /intents` runs — the action's feature flag, resource type and id,
        token binding, who may propose, and the handler's own validation — and returns what the
        reviewer would read, without minting anything. The draft step for agents: admitted by any
        proposing scope **or** `read:explore`, and the action's own scope is not required on the
        token, so a user can shape the text before granting the write permission. The caller must
        still be allowed to propose on the resource, and for a syndicate-owned token the application's
        Installation scope ceiling still applies (an install granted only `read:syndicates` cannot
        preview a `write:syndicates` action: `403 insufficient_scope`). Same request body as
        `POST /intents` (without `idempotency_key`). Errors are the same as `POST /intents` would give.
      operationId: previewIntent
      security:
        - bearerAuth:
            - read:explore
        - bearerAuth:
            - write:syndicates
        - bearerAuth:
            - write:comments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action_name
                - resource_type
                - resource_id
              properties:
                action_name:
                  type: string
                resource_type:
                  type: string
                resource_id:
                  type: string
                params:
                  type: object
      responses:
        '200':
          description: The proposal would be accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentPreviewEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: The handler refused it; `error.message` is the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: JavaScript
          label: '@wefunder/sdk'
          source: |-
            const preview = await wf.unwrap(
              wf.raw.previewIntent({
                body: {
                  action_name: "syndicates.close_deal",
                  resource_type: "Club",
                  resource_id: "syn_example",
                  params: { fundraise_id: 99 },
                },
              }),
            );
            console.log(preview);
  /intents:
    post:
      tags:
        - Intents
      summary: Propose an intent
      description: |
        Propose a dangerous or irreversible action for human approval. Returns a `review_url`
        where a human must review the impact and approve before the action executes.

        The entity that proposes an intent can never approve it. Approval always happens
        on Wefunder's UI by a user with permission on the resource.

        Each action names the scope that may propose it and the resource type it targets
        (`syndicates.*` → `write:syndicates` on a syndicate; `comments.create` → `write:comments`
        on a `Company`). The token must hold that action's scope; holding another proposing scope
        is not enough (403 `insufficient_scope`).

        `comments.create` posts a question on a company's Ask tab, or an answer to one, as the
        requesting user once they approve on wefunder.com. `resource_id` is the company (`co_...`);
        `params` is `{ target_type: "company" | "comment", target: "co_..." | "cmt_...", body,
        disclosure_key? }` (`disclosure_key` ∈ investor, stockholder, promoter, financial_stakeholder).
        Who may post is the site's own rule: anyone the page is available to may ask (unless the
        company has closed questions); only the company's team may answer. Only the requester can
        approve. 20 proposals per user per day (429).

        An `idempotency_key` names one operation. Reusing it for the same operation returns the
        existing intent (200) while that intent is pending, approved, executing, or executed;
        reusing it for a different action, resource, or params is a 409 `idempotency_conflict`.

        An action still rolling out per account returns 403 `feature_disabled` for a user who is
        not yet enabled. `POST /intents/preview` runs the same checks without minting.

        See [Intents documentation](/concepts/intents) for the full pattern.
      operationId: createIntent
      security:
        - bearerAuth:
            - write:syndicates
        - bearerAuth:
            - write:comments
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
