=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class ActivityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List activity events
    # Returns actions taken by OAuth apps authorized by the current user. This is the API backing the user-facing activity feed at Settings > Activity. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :app_id Filter by connected app
    # @option opts [String] :action_pattern Filter by action pattern (e.g. syndicates.* or syndicates.member.*)
    # @option opts [String] :resource_type Filter by resource type (e.g. Club). Must be used with resource_id.
    # @option opts [String] :resource_id Filter by specific resource ID. Must be used with resource_type. For Club resources, pass the syndicate&#39;s id (&#x60;syn_...&#x60;). 
    # @option opts [String] :status 
    # @option opts [Time] :since 
    # @option opts [Time] :_until 
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page  (default to 25)
    # @return [AuditEventListEnvelope]
    def list_activity(opts = {})
      data, _status_code, _headers = list_activity_with_http_info(opts)
      data
    end

    # List activity events
    # Returns actions taken by OAuth apps authorized by the current user. This is the API backing the user-facing activity feed at Settings &gt; Activity. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :app_id Filter by connected app
    # @option opts [String] :action_pattern Filter by action pattern (e.g. syndicates.* or syndicates.member.*)
    # @option opts [String] :resource_type Filter by resource type (e.g. Club). Must be used with resource_id.
    # @option opts [String] :resource_id Filter by specific resource ID. Must be used with resource_type. For Club resources, pass the syndicate&#39;s id (&#x60;syn_...&#x60;). 
    # @option opts [String] :status 
    # @option opts [Time] :since 
    # @option opts [Time] :_until 
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page  (default to 25)
    # @return [Array<(AuditEventListEnvelope, Integer, Hash)>] AuditEventListEnvelope data, response status code and response headers
    def list_activity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityApi.list_activity ...'
      end
      allowable_values = ["success", "failure", "denied"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ActivityApi.list_activity, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/activity'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'app_id'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'action_pattern'] = opts[:'action_pattern'] if !opts[:'action_pattern'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'resource_id'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuditEventListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ActivityApi.list_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityApi#list_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connected apps
    # Returns all OAuth apps the user has authorized, with summary stats.
    # @param [Hash] opts the optional parameters
    # @return [ConnectedAppListEnvelope]
    def list_connected_apps(opts = {})
      data, _status_code, _headers = list_connected_apps_with_http_info(opts)
      data
    end

    # List connected apps
    # Returns all OAuth apps the user has authorized, with summary stats.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectedAppListEnvelope, Integer, Hash)>] ConnectedAppListEnvelope data, response status code and response headers
    def list_connected_apps_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityApi.list_connected_apps ...'
      end
      # resource path
      local_var_path = '/connected-apps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectedAppListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ActivityApi.list_connected_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityApi#list_connected_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke connected app
    # Revoke all tokens for this app. Any pending intents from this app are automatically expired. 
    # @param app_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectedAppRevocationEnvelope]
    def revoke_connected_app(app_id, opts = {})
      data, _status_code, _headers = revoke_connected_app_with_http_info(app_id, opts)
      data
    end

    # Revoke connected app
    # Revoke all tokens for this app. Any pending intents from this app are automatically expired. 
    # @param app_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectedAppRevocationEnvelope, Integer, Hash)>] ConnectedAppRevocationEnvelope data, response status code and response headers
    def revoke_connected_app_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityApi.revoke_connected_app ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling ActivityApi.revoke_connected_app"
      end
      # resource path
      local_var_path = '/connected-apps/{app_id}'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectedAppRevocationEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ActivityApi.revoke_connected_app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityApi#revoke_connected_app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
