=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class AttributionWebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create webhook subscription
    # Creates a new webhook subscription for this campaign. When attributed investments change state, we'll POST a JSON payload to your target URL.  **Tier 1** endpoint requiring admin-approved access.  ## Webhook Payload  Payloads include anonymized data (tokens, amount tiers) matching the `/attribution/investments` endpoint.  ## Security  - `target_url` must use HTTPS - `target_url` cannot resolve to private/internal IPs (SSRF protection) - Payloads are signed with HMAC-SHA256 using the returned `secret`  ## Verification  Verify webhook signatures using the `X-Wefunder-Signature` header: ``` timestamp = headers['X-Wefunder-Timestamp'] signature = headers['X-Wefunder-Signature'] expected = \"sha256=\" + HMAC-SHA256(secret, timestamp + \".\" + raw_body) ```  Reject requests where: - Signature doesn't match - Timestamp is more than 5 minutes old (replay protection) 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param create_webhook_subscription_request [CreateWebhookSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookSubscriptionWithSecretEnvelope]
    def create_webhook_subscription(campaign_id, create_webhook_subscription_request, opts = {})
      data, _status_code, _headers = create_webhook_subscription_with_http_info(campaign_id, create_webhook_subscription_request, opts)
      data
    end

    # Create webhook subscription
    # Creates a new webhook subscription for this campaign. When attributed investments change state, we&#39;ll POST a JSON payload to your target URL.  **Tier 1** endpoint requiring admin-approved access.  ## Webhook Payload  Payloads include anonymized data (tokens, amount tiers) matching the &#x60;/attribution/investments&#x60; endpoint.  ## Security  - &#x60;target_url&#x60; must use HTTPS - &#x60;target_url&#x60; cannot resolve to private/internal IPs (SSRF protection) - Payloads are signed with HMAC-SHA256 using the returned &#x60;secret&#x60;  ## Verification  Verify webhook signatures using the &#x60;X-Wefunder-Signature&#x60; header: &#x60;&#x60;&#x60; timestamp &#x3D; headers[&#39;X-Wefunder-Timestamp&#39;] signature &#x3D; headers[&#39;X-Wefunder-Signature&#39;] expected &#x3D; \&quot;sha256&#x3D;\&quot; + HMAC-SHA256(secret, timestamp + \&quot;.\&quot; + raw_body) &#x60;&#x60;&#x60;  Reject requests where: - Signature doesn&#39;t match - Timestamp is more than 5 minutes old (replay protection) 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param create_webhook_subscription_request [CreateWebhookSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSubscriptionWithSecretEnvelope, Integer, Hash)>] WebhookSubscriptionWithSecretEnvelope data, response status code and response headers
    def create_webhook_subscription_with_http_info(campaign_id, create_webhook_subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.create_webhook_subscription ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.create_webhook_subscription"
      end
      # verify the required parameter 'create_webhook_subscription_request' is set
      if @api_client.config.client_side_validation && create_webhook_subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_subscription_request' when calling AttributionWebhooksApi.create_webhook_subscription"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionWithSecretEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.create_webhook_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#create_webhook_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete webhook subscription
    # Deactivates a webhook subscription. The subscription will stop receiving events but historical delivery data is retained for 7 days. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_webhook_subscription(campaign_id, webhook_id, opts = {})
      delete_webhook_subscription_with_http_info(campaign_id, webhook_id, opts)
      nil
    end

    # Delete webhook subscription
    # Deactivates a webhook subscription. The subscription will stop receiving events but historical delivery data is retained for 7 days. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_webhook_subscription_with_http_info(campaign_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.delete_webhook_subscription ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.delete_webhook_subscription"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AttributionWebhooksApi.delete_webhook_subscription"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks/{webhook_id}'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s)).sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.delete_webhook_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#delete_webhook_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get webhook subscription details
    # Returns details for a specific webhook subscription including recent delivery history. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [WebhookSubscriptionWithRecentDeliveriesEnvelope]
    def get_webhook_subscription(campaign_id, webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_subscription_with_http_info(campaign_id, webhook_id, opts)
      data
    end

    # Get webhook subscription details
    # Returns details for a specific webhook subscription including recent delivery history. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSubscriptionWithRecentDeliveriesEnvelope, Integer, Hash)>] WebhookSubscriptionWithRecentDeliveriesEnvelope data, response status code and response headers
    def get_webhook_subscription_with_http_info(campaign_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.get_webhook_subscription ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.get_webhook_subscription"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AttributionWebhooksApi.get_webhook_subscription"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks/{webhook_id}'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s)).sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionWithRecentDeliveriesEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.get_webhook_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#get_webhook_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List attribution webhook subscriptions
    # Returns all active webhook subscriptions for this campaign belonging to your OAuth application.  **Tier 1** endpoint requiring admin-approved access with the `read:attribution:anonymized` scope. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @return [WebhookSubscriptionListEnvelope]
    def list_webhook_subscriptions(campaign_id, opts = {})
      data, _status_code, _headers = list_webhook_subscriptions_with_http_info(campaign_id, opts)
      data
    end

    # List attribution webhook subscriptions
    # Returns all active webhook subscriptions for this campaign belonging to your OAuth application.  **Tier 1** endpoint requiring admin-approved access with the &#x60;read:attribution:anonymized&#x60; scope. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSubscriptionListEnvelope, Integer, Hash)>] WebhookSubscriptionListEnvelope data, response status code and response headers
    def list_webhook_subscriptions_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.list_webhook_subscriptions ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.list_webhook_subscriptions"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.list_webhook_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#list_webhook_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reactivate disabled webhook
    # Reactivates a webhook subscription that was auto-disabled after consecutive failures. Resets the failure counter to 0.  Use this after fixing issues with your webhook endpoint. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [WebhookSubscriptionEnvelope]
    def reactivate_webhook_subscription(campaign_id, webhook_id, opts = {})
      data, _status_code, _headers = reactivate_webhook_subscription_with_http_info(campaign_id, webhook_id, opts)
      data
    end

    # Reactivate disabled webhook
    # Reactivates a webhook subscription that was auto-disabled after consecutive failures. Resets the failure counter to 0.  Use this after fixing issues with your webhook endpoint. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSubscriptionEnvelope, Integer, Hash)>] WebhookSubscriptionEnvelope data, response status code and response headers
    def reactivate_webhook_subscription_with_http_info(campaign_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.reactivate_webhook_subscription ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.reactivate_webhook_subscription"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AttributionWebhooksApi.reactivate_webhook_subscription"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks/{webhook_id}/reactivate'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s)).sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.reactivate_webhook_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#reactivate_webhook_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerate webhook signing secret
    # Generates a new HMAC signing secret for the webhook subscription. The old secret is immediately invalidated.  **Important**: Store the new secret securely - it cannot be retrieved later. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [WebhookSubscriptionWithSecret2Envelope]
    def regenerate_webhook_secret(campaign_id, webhook_id, opts = {})
      data, _status_code, _headers = regenerate_webhook_secret_with_http_info(campaign_id, webhook_id, opts)
      data
    end

    # Regenerate webhook signing secret
    # Generates a new HMAC signing secret for the webhook subscription. The old secret is immediately invalidated.  **Important**: Store the new secret securely - it cannot be retrieved later. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookSubscriptionWithSecret2Envelope, Integer, Hash)>] WebhookSubscriptionWithSecret2Envelope data, response status code and response headers
    def regenerate_webhook_secret_with_http_info(campaign_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.regenerate_webhook_secret ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.regenerate_webhook_secret"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AttributionWebhooksApi.regenerate_webhook_secret"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks/{webhook_id}/regenerate_secret'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s)).sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionWithSecret2Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.regenerate_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#regenerate_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send test webhook
    # Sends a test webhook to verify your endpoint is working correctly. The test payload includes a `\"event\": \"test\"` field to distinguish it from real events. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [WebhookTestResultEnvelope]
    def test_webhook_subscription(campaign_id, webhook_id, opts = {})
      data, _status_code, _headers = test_webhook_subscription_with_http_info(campaign_id, webhook_id, opts)
      data
    end

    # Send test webhook
    # Sends a test webhook to verify your endpoint is working correctly. The test payload includes a &#x60;\&quot;event\&quot;: \&quot;test\&quot;&#x60; field to distinguish it from real events. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param webhook_id [Integer] The webhook subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookTestResultEnvelope, Integer, Hash)>] WebhookTestResultEnvelope data, response status code and response headers
    def test_webhook_subscription_with_http_info(campaign_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionWebhooksApi.test_webhook_subscription ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionWebhooksApi.test_webhook_subscription"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AttributionWebhooksApi.test_webhook_subscription"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/webhooks/{webhook_id}/test'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s)).sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookTestResultEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionWebhooksApi.test_webhook_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionWebhooksApi#test_webhook_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
