=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class AttributionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get aggregate attribution statistics
    # Returns aggregate attribution statistics for a campaign. This is a **Tier 0** endpoint available to all OAuth applications with the `read:attribution:aggregate` scope.  Use this endpoint to: - Track overall marketing campaign performance - Measure conversion rates by UTM source/campaign - Monitor investment quality metrics - Build performance dashboards  The response includes totals and breakdowns by UTM parameters. All counts exclude disputed attributions.  **Privacy**: This endpoint returns aggregate data only. No individual investor information is exposed. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Filter results to attributions on or after this date. Format: YYYY-MM-DD. Defaults to 90 days ago if not specified. 
    # @option opts [Date] :end_date Filter results to attributions on or before this date. Format: YYYY-MM-DD. Defaults to today if not specified. 
    # @option opts [String] :utm_source Filter by UTM source (e.g., \&quot;GoogleAds\&quot;, \&quot;facebook\&quot;, \&quot;Klaviyo\&quot;)
    # @option opts [String] :utm_campaign Filter by UTM campaign name
    # @return [AttributionStatsEnvelope]
    def get_attribution_stats(campaign_id, opts = {})
      data, _status_code, _headers = get_attribution_stats_with_http_info(campaign_id, opts)
      data
    end

    # Get aggregate attribution statistics
    # Returns aggregate attribution statistics for a campaign. This is a **Tier 0** endpoint available to all OAuth applications with the &#x60;read:attribution:aggregate&#x60; scope.  Use this endpoint to: - Track overall marketing campaign performance - Measure conversion rates by UTM source/campaign - Monitor investment quality metrics - Build performance dashboards  The response includes totals and breakdowns by UTM parameters. All counts exclude disputed attributions.  **Privacy**: This endpoint returns aggregate data only. No individual investor information is exposed. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Filter results to attributions on or after this date. Format: YYYY-MM-DD. Defaults to 90 days ago if not specified. 
    # @option opts [Date] :end_date Filter results to attributions on or before this date. Format: YYYY-MM-DD. Defaults to today if not specified. 
    # @option opts [String] :utm_source Filter by UTM source (e.g., \&quot;GoogleAds\&quot;, \&quot;facebook\&quot;, \&quot;Klaviyo\&quot;)
    # @option opts [String] :utm_campaign Filter by UTM campaign name
    # @return [Array<(AttributionStatsEnvelope, Integer, Hash)>] AttributionStatsEnvelope data, response status code and response headers
    def get_attribution_stats_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionApi.get_attribution_stats ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionApi.get_attribution_stats"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/stats'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'utm_source'] = opts[:'utm_source'] if !opts[:'utm_source'].nil?
      query_params[:'utm_campaign'] = opts[:'utm_campaign'] if !opts[:'utm_campaign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttributionStatsEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionApi.get_attribution_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionApi#get_attribution_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List attributed investments
    # Returns a list of attributed investments. The detail level depends on your access:  **Tier 1 (Marketing Partners)** - Anonymized data: - Investor identity represented by opaque tokens (not real IDs) - Tokens are campaign-scoped (different token per campaign for same investor) - Investment amounts shown as tiers (small/medium/large), not exact values - No PII (email, name, address) is returned  **Tier 2 (Founders/Employees)** - Full data with `detail_level=full`: - Real investment IDs (linkable to Wefunder admin) - Investor name, email, and username - Exact dollar amounts  **Access**: Requires Tier 1+ access approval from Wefunder admin. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Date] :start_date Filter results to attributions on or after this date. Format: YYYY-MM-DD. Defaults to 90 days ago if not specified. 
    # @option opts [Date] :end_date Filter results to attributions on or before this date. Format: YYYY-MM-DD. Defaults to today if not specified. 
    # @option opts [String] :utm_source Filter by UTM source (e.g., \&quot;GoogleAds\&quot;, \&quot;facebook\&quot;, \&quot;Klaviyo\&quot;)
    # @option opts [String] :utm_campaign Filter by UTM campaign name
    # @option opts [String] :detail_level Level of detail to return: - &#x60;anonymized&#x60; (default): Opaque tokens, amount tiers - &#x60;full&#x60;: Real IDs, exact amounts, investor PII (founders only)  Marketing partners always receive anonymized data regardless of this parameter.  (default to 'anonymized')
    # @return [AttributedInvestmentListEnvelope]
    def list_attributed_investments(campaign_id, opts = {})
      data, _status_code, _headers = list_attributed_investments_with_http_info(campaign_id, opts)
      data
    end

    # List attributed investments
    # Returns a list of attributed investments. The detail level depends on your access:  **Tier 1 (Marketing Partners)** - Anonymized data: - Investor identity represented by opaque tokens (not real IDs) - Tokens are campaign-scoped (different token per campaign for same investor) - Investment amounts shown as tiers (small/medium/large), not exact values - No PII (email, name, address) is returned  **Tier 2 (Founders/Employees)** - Full data with &#x60;detail_level&#x3D;full&#x60;: - Real investment IDs (linkable to Wefunder admin) - Investor name, email, and username - Exact dollar amounts  **Access**: Requires Tier 1+ access approval from Wefunder admin. 
    # @param campaign_id [Integer] The fundraise/campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Date] :start_date Filter results to attributions on or after this date. Format: YYYY-MM-DD. Defaults to 90 days ago if not specified. 
    # @option opts [Date] :end_date Filter results to attributions on or before this date. Format: YYYY-MM-DD. Defaults to today if not specified. 
    # @option opts [String] :utm_source Filter by UTM source (e.g., \&quot;GoogleAds\&quot;, \&quot;facebook\&quot;, \&quot;Klaviyo\&quot;)
    # @option opts [String] :utm_campaign Filter by UTM campaign name
    # @option opts [String] :detail_level Level of detail to return: - &#x60;anonymized&#x60; (default): Opaque tokens, amount tiers - &#x60;full&#x60;: Real IDs, exact amounts, investor PII (founders only)  Marketing partners always receive anonymized data regardless of this parameter.  (default to 'anonymized')
    # @return [Array<(AttributedInvestmentListEnvelope, Integer, Hash)>] AttributedInvestmentListEnvelope data, response status code and response headers
    def list_attributed_investments_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionApi.list_attributed_investments ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AttributionApi.list_attributed_investments"
      end
      allowable_values = ["anonymized", "full"]
      if @api_client.config.client_side_validation && opts[:'detail_level'] && !allowable_values.include?(opts[:'detail_level'])
        fail ArgumentError, "invalid value for \"detail_level\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/attribution/investments'.sub('{' + 'campaign_id' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'utm_source'] = opts[:'utm_source'] if !opts[:'utm_source'].nil?
      query_params[:'utm_campaign'] = opts[:'utm_campaign'] if !opts[:'utm_campaign'].nil?
      query_params[:'detail_level'] = opts[:'detail_level'] if !opts[:'detail_level'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttributedInvestmentListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionApi.list_attributed_investments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionApi#list_attributed_investments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
