=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class AttributionPartnersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a partner invite
    # Creates an invite to establish a partner-company connection.  **Directions**: - `partner_to_founder`: Marketing partner invites a founder to grant access - `founder_to_partner`: Founder invites a marketing partner to access their campaign  For `partner_to_founder`: Creates a shareable invite link. For `founder_to_partner`: Sends an email to the partner. 
    # @param create_partner_invite_request [CreatePartnerInviteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PartnerInviteEnvelope]
    def create_partner_invite(create_partner_invite_request, opts = {})
      data, _status_code, _headers = create_partner_invite_with_http_info(create_partner_invite_request, opts)
      data
    end

    # Create a partner invite
    # Creates an invite to establish a partner-company connection.  **Directions**: - &#x60;partner_to_founder&#x60;: Marketing partner invites a founder to grant access - &#x60;founder_to_partner&#x60;: Founder invites a marketing partner to access their campaign  For &#x60;partner_to_founder&#x60;: Creates a shareable invite link. For &#x60;founder_to_partner&#x60;: Sends an email to the partner. 
    # @param create_partner_invite_request [CreatePartnerInviteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PartnerInviteEnvelope, Integer, Hash)>] PartnerInviteEnvelope data, response status code and response headers
    def create_partner_invite_with_http_info(create_partner_invite_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.create_partner_invite ...'
      end
      # verify the required parameter 'create_partner_invite_request' is set
      if @api_client.config.client_side_validation && create_partner_invite_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_partner_invite_request' when calling AttributionPartnersApi.create_partner_invite"
      end
      # resource path
      local_var_path = '/attribution/invites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_partner_invite_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PartnerInviteEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.create_partner_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#create_partner_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current user's attribution profile
    # Returns the authenticated user's marketing partner profile and connected campaigns. If the user is not registered as a marketing partner, returns partner info as null. 
    # @param [Hash] opts the optional parameters
    # @return [AttributionMeEnvelope]
    def get_attribution_me(opts = {})
      data, _status_code, _headers = get_attribution_me_with_http_info(opts)
      data
    end

    # Get current user&#39;s attribution profile
    # Returns the authenticated user&#39;s marketing partner profile and connected campaigns. If the user is not registered as a marketing partner, returns partner info as null. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttributionMeEnvelope, Integer, Hash)>] AttributionMeEnvelope data, response status code and response headers
    def get_attribution_me_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.get_attribution_me ...'
      end
      # resource path
      local_var_path = '/attribution/me'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttributionMeEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.get_attribution_me",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#get_attribution_me\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List campaigns accessible to the current user
    # Returns all campaigns the authenticated user can access for attribution data. For founders, this includes their own campaigns. For marketing partners, this includes campaigns they've been granted access to. 
    # @param [Hash] opts the optional parameters
    # @return [AttributionCampaignSummaryListEnvelope]
    def list_attribution_campaigns(opts = {})
      data, _status_code, _headers = list_attribution_campaigns_with_http_info(opts)
      data
    end

    # List campaigns accessible to the current user
    # Returns all campaigns the authenticated user can access for attribution data. For founders, this includes their own campaigns. For marketing partners, this includes campaigns they&#39;ve been granted access to. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttributionCampaignSummaryListEnvelope, Integer, Hash)>] AttributionCampaignSummaryListEnvelope data, response status code and response headers
    def list_attribution_campaigns_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.list_attribution_campaigns ...'
      end
      # resource path
      local_var_path = '/attribution/campaigns'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttributionCampaignSummaryListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.list_attribution_campaigns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#list_attribution_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List partner invites
    # Returns all invites created by or sent to the authenticated user. Includes both pending and accepted invites. 
    # @param [Hash] opts the optional parameters
    # @return [PartnerInviteListEnvelope]
    def list_partner_invites(opts = {})
      data, _status_code, _headers = list_partner_invites_with_http_info(opts)
      data
    end

    # List partner invites
    # Returns all invites created by or sent to the authenticated user. Includes both pending and accepted invites. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PartnerInviteListEnvelope, Integer, Hash)>] PartnerInviteListEnvelope data, response status code and response headers
    def list_partner_invites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.list_partner_invites ...'
      end
      # resource path
      local_var_path = '/attribution/invites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PartnerInviteListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.list_partner_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#list_partner_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register as a marketing partner
    # Registers the authenticated user as a marketing partner. After registration, the partner can create invites to request access to campaigns. 
    # @param register_as_partner_request [RegisterAsPartnerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MarketingPartnerEnvelope]
    def register_as_partner(register_as_partner_request, opts = {})
      data, _status_code, _headers = register_as_partner_with_http_info(register_as_partner_request, opts)
      data
    end

    # Register as a marketing partner
    # Registers the authenticated user as a marketing partner. After registration, the partner can create invites to request access to campaigns. 
    # @param register_as_partner_request [RegisterAsPartnerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketingPartnerEnvelope, Integer, Hash)>] MarketingPartnerEnvelope data, response status code and response headers
    def register_as_partner_with_http_info(register_as_partner_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.register_as_partner ...'
      end
      # verify the required parameter 'register_as_partner_request' is set
      if @api_client.config.client_side_validation && register_as_partner_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_as_partner_request' when calling AttributionPartnersApi.register_as_partner"
      end
      # resource path
      local_var_path = '/attribution/partners/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_as_partner_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MarketingPartnerEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.register_as_partner",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#register_as_partner\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a partner invite
    # Revokes a pending invite. Only the creator can revoke an invite. Accepted invites cannot be revoked (delete the connection instead). 
    # @param token [String] The invite token
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_partner_invite(token, opts = {})
      revoke_partner_invite_with_http_info(token, opts)
      nil
    end

    # Revoke a partner invite
    # Revokes a pending invite. Only the creator can revoke an invite. Accepted invites cannot be revoked (delete the connection instead). 
    # @param token [String] The invite token
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_partner_invite_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributionPartnersApi.revoke_partner_invite ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AttributionPartnersApi.revoke_partner_invite"
      end
      # resource path
      local_var_path = '/attribution/invites/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"AttributionPartnersApi.revoke_partner_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionPartnersApi#revoke_partner_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
