=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class CompaniesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search companies by name
    # The wefunder.com search bar, companies only. Same Algolia request, same result ordering, and same page size as the site's top bar, so the results are what a visitor typing the same text would see, in that order — companies raising now and companies funded in the past, whether or not they appear on `/explore`. The order is the site's search order (match quality first, then the site's tie-breaks); nothing here recommends.  Each result carries the company's `co_` id for `GET /companies/{id}`. With `read:explore` the accreditation gate matches the authorizing user (an accredited viewer sees the accredited-only companies the site would show them); with `read:public` it is the anonymous view. 
    # @param q [String] The company name, or part of it. At most 200 characters and 500 bytes.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum results, 1–20. Default 8, the same as the site. (default to 8)
    # @return [CompanySearchResultListEnvelope]
    def search_companies(q, opts = {})
      data, _status_code, _headers = search_companies_with_http_info(q, opts)
      data
    end

    # Search companies by name
    # The wefunder.com search bar, companies only. Same Algolia request, same result ordering, and same page size as the site&#39;s top bar, so the results are what a visitor typing the same text would see, in that order — companies raising now and companies funded in the past, whether or not they appear on &#x60;/explore&#x60;. The order is the site&#39;s search order (match quality first, then the site&#39;s tie-breaks); nothing here recommends.  Each result carries the company&#39;s &#x60;co_&#x60; id for &#x60;GET /companies/{id}&#x60;. With &#x60;read:explore&#x60; the accreditation gate matches the authorizing user (an accredited viewer sees the accredited-only companies the site would show them); with &#x60;read:public&#x60; it is the anonymous view. 
    # @param q [String] The company name, or part of it. At most 200 characters and 500 bytes.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum results, 1–20. Default 8, the same as the site. (default to 8)
    # @return [Array<(CompanySearchResultListEnvelope, Integer, Hash)>] CompanySearchResultListEnvelope data, response status code and response headers
    def search_companies_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompaniesApi.search_companies ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling CompaniesApi.search_companies"
      end
      if @api_client.config.client_side_validation && q.to_s.length > 200
        fail ArgumentError, 'invalid value for "q" when calling CompaniesApi.search_companies, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 20
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CompaniesApi.search_companies, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CompaniesApi.search_companies, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanySearchResultListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CompaniesApi.search_companies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompaniesApi#search_companies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
