=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class ExploreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a company page
    # The company page behind an offering, as structured data — the \"click a company\" step after `/explore`. Addressed by the `co_...` id every offering carries in `company.id`.  Keeps apart the three raised numbers the page shows and readers conflate: `current_raise.amount_raised` (this campaign's live rounds combined, on Wefunder), `past_rounds[]` (prior rounds the page lists, each tagged `source: wefunder` for rounds observed here or `reported` for founder-disclosed off-platform rounds), and `totals.profile_total_raised` (the number on the page's ticker bar). Every figure comes from the same policy the page uses, so the API never disagrees with the site.  **Who has a page.** Every company whose profile wefunder.com lists publicly — the same set the site's search bar returns (published, not invite-only, searchable or with a live Form C; accredited-only companies need an accredited viewer) — plus the `/explore` set. A funded company, or one the viewer may see no round of, renders with `raising: false` and `current_raise: null`; its history is in `wefunder_rounds`. **Logged-in view (`read:explore`)** additionally covers the vault / syndicate-led companies the site shows an accredited viewer, and the round described is the one the page would show that viewer. A valid id for a company outside the viewer's set is a `404`, never a partial payload. 
    # @param id [String] The company&#39;s id (&#x60;co_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [CompanyEnvelope]
    def get_company(id, opts = {})
      data, _status_code, _headers = get_company_with_http_info(id, opts)
      data
    end

    # Get a company page
    # The company page behind an offering, as structured data — the \&quot;click a company\&quot; step after &#x60;/explore&#x60;. Addressed by the &#x60;co_...&#x60; id every offering carries in &#x60;company.id&#x60;.  Keeps apart the three raised numbers the page shows and readers conflate: &#x60;current_raise.amount_raised&#x60; (this campaign&#39;s live rounds combined, on Wefunder), &#x60;past_rounds[]&#x60; (prior rounds the page lists, each tagged &#x60;source: wefunder&#x60; for rounds observed here or &#x60;reported&#x60; for founder-disclosed off-platform rounds), and &#x60;totals.profile_total_raised&#x60; (the number on the page&#39;s ticker bar). Every figure comes from the same policy the page uses, so the API never disagrees with the site.  **Who has a page.** Every company whose profile wefunder.com lists publicly — the same set the site&#39;s search bar returns (published, not invite-only, searchable or with a live Form C; accredited-only companies need an accredited viewer) — plus the &#x60;/explore&#x60; set. A funded company, or one the viewer may see no round of, renders with &#x60;raising: false&#x60; and &#x60;current_raise: null&#x60;; its history is in &#x60;wefunder_rounds&#x60;. **Logged-in view (&#x60;read:explore&#x60;)** additionally covers the vault / syndicate-led companies the site shows an accredited viewer, and the round described is the one the page would show that viewer. A valid id for a company outside the viewer&#39;s set is a &#x60;404&#x60;, never a partial payload. 
    # @param id [String] The company&#39;s id (&#x60;co_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyEnvelope, Integer, Hash)>] CompanyEnvelope data, response status code and response headers
    def get_company_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.get_company ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.get_company"
      end
      # resource path
      local_var_path = '/companies/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.get_company",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#get_company\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a company's public Form C disclosures
    # The Details tab of the company's Wefunder page as structured data — the company's own Form C disclosures, section for section: financial statements for the fiscal years on file, the page's ratios, the founder's current-position disclosure (cash on hand, monthly revenue / costs / burn), the financial-condition narrative, document links, risks, use of funds, directors and officers, 20%+ holders, capital structure, prior offerings, outstanding notes and debts, and related-party transactions.  Same \"who has a page\" rule as `GET /companies/{id}`. The round read is the page's own: the display round for the viewer, swapped for its concurrent Reg CF sibling on a Reg D round, and only when it is a Reg CF / ECSP round with a Form C. A company with no such round has no details tab on the site and answers `404` with `error.type: no_disclosures` — distinct from an unknown or hidden company. A section the company hides on the site is `null`.  Money is decimal strings, never USD by assumption: the round's own figures (use of funds, prior offerings, notes, debts, related parties) are in `currency` — `EUR` for an ECSP round — while the Form C financial statements, the ratio derived from them, and the current-position figures (which repeat it as `current_position.currency`) are in `financials_currency`, the currency the issuer declared for its statements (it can differ from the round's: DKK, RON, GBP, or USD statements behind a EUR round). Ratios are percentages as decimal strings. Everything here is the issuer's own disclosure, served as filed, not a Wefunder assessment. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sections Only these sections (&#x60;offering_id&#x60;, &#x60;currency&#x60;, &#x60;financials_currency&#x60; and &#x60;filing&#x60; are always included). Omit for the whole tab; a disclosure-heavy company runs to ~100 KB. Unknown names are a 400 listing the vocabulary. 
    # @return [CompanyDisclosuresEnvelope]
    def get_company_disclosures(id, opts = {})
      data, _status_code, _headers = get_company_disclosures_with_http_info(id, opts)
      data
    end

    # Get a company&#39;s public Form C disclosures
    # The Details tab of the company&#39;s Wefunder page as structured data — the company&#39;s own Form C disclosures, section for section: financial statements for the fiscal years on file, the page&#39;s ratios, the founder&#39;s current-position disclosure (cash on hand, monthly revenue / costs / burn), the financial-condition narrative, document links, risks, use of funds, directors and officers, 20%+ holders, capital structure, prior offerings, outstanding notes and debts, and related-party transactions.  Same \&quot;who has a page\&quot; rule as &#x60;GET /companies/{id}&#x60;. The round read is the page&#39;s own: the display round for the viewer, swapped for its concurrent Reg CF sibling on a Reg D round, and only when it is a Reg CF / ECSP round with a Form C. A company with no such round has no details tab on the site and answers &#x60;404&#x60; with &#x60;error.type: no_disclosures&#x60; — distinct from an unknown or hidden company. A section the company hides on the site is &#x60;null&#x60;.  Money is decimal strings, never USD by assumption: the round&#39;s own figures (use of funds, prior offerings, notes, debts, related parties) are in &#x60;currency&#x60; — &#x60;EUR&#x60; for an ECSP round — while the Form C financial statements, the ratio derived from them, and the current-position figures (which repeat it as &#x60;current_position.currency&#x60;) are in &#x60;financials_currency&#x60;, the currency the issuer declared for its statements (it can differ from the round&#39;s: DKK, RON, GBP, or USD statements behind a EUR round). Ratios are percentages as decimal strings. Everything here is the issuer&#39;s own disclosure, served as filed, not a Wefunder assessment. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sections Only these sections (&#x60;offering_id&#x60;, &#x60;currency&#x60;, &#x60;financials_currency&#x60; and &#x60;filing&#x60; are always included). Omit for the whole tab; a disclosure-heavy company runs to ~100 KB. Unknown names are a 400 listing the vocabulary. 
    # @return [Array<(CompanyDisclosuresEnvelope, Integer, Hash)>] CompanyDisclosuresEnvelope data, response status code and response headers
    def get_company_disclosures_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.get_company_disclosures ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.get_company_disclosures"
      end
      allowable_values = ["business", "financial_statements", "ratios", "current_position", "financial_condition", "financial_statement_documents", "investment_documents", "risks", "use_of_funds", "directors", "officers", "voting_power", "capital_structure", "prior_offerings", "outstanding_notes", "outstanding_debts", "related_parties"]
      if @api_client.config.client_side_validation && opts[:'sections'] && !opts[:'sections'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"sections\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/companies/{id}/disclosures'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sections'] = @api_client.build_collection_param(opts[:'sections'], :csv) if !opts[:'sections'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyDisclosuresEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.get_company_disclosures",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#get_company_disclosures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a company's pitch
    # The Overview tab's pitch as structured data: the story as ordered blocks (`heading`, `paragraph`, `list`, `image`, `video`, `footnote`), plus the perk tiers of the round the page shows the viewer. Images and embedded videos keep their place in the document with an absolute URL, because founders publish perk tiers, stretch goals, timelines, and charts as pictures (typically with no alt text) and a plain-text rendering would drop them.  What is parsed is what the page renders: the story passes through the site's own sanitizer first, so an embed the page refuses (a host off its allowlist, a `javascript:` URL) is never served here either. Same \"who has a page\" rule and round chooser as `GET /companies/{id}`. A site-public company with no round the viewer may see still has a pitch (`perks: null`). `perks.described_in_pitch` is a heuristic: true when the structured perk list is a placeholder (\"See investor overview page\", or one identical sentence on every tier) and the real tiers are in the story's images.  `authored_by` says who wrote the story: `company` (the issuer's own words and imagery, not a Wefunder assessment) or `wefunder` (a Wefunder-prepared deal memo the company did not participate in; `disclaimer` carries the page's notice). A pitch can run to ~70 KB; use `sections` to ask for less. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sections Only these sections (&#x60;offering_id&#x60;, &#x60;title&#x60;, &#x60;url&#x60;, &#x60;authored_by&#x60;, and &#x60;disclaimer&#x60; are always included). Omit for the whole pitch. Unknown names are a 400 listing the vocabulary. 
    # @return [CompanyPitchEnvelope]
    def get_company_pitch(id, opts = {})
      data, _status_code, _headers = get_company_pitch_with_http_info(id, opts)
      data
    end

    # Get a company&#39;s pitch
    # The Overview tab&#39;s pitch as structured data: the story as ordered blocks (&#x60;heading&#x60;, &#x60;paragraph&#x60;, &#x60;list&#x60;, &#x60;image&#x60;, &#x60;video&#x60;, &#x60;footnote&#x60;), plus the perk tiers of the round the page shows the viewer. Images and embedded videos keep their place in the document with an absolute URL, because founders publish perk tiers, stretch goals, timelines, and charts as pictures (typically with no alt text) and a plain-text rendering would drop them.  What is parsed is what the page renders: the story passes through the site&#39;s own sanitizer first, so an embed the page refuses (a host off its allowlist, a &#x60;javascript:&#x60; URL) is never served here either. Same \&quot;who has a page\&quot; rule and round chooser as &#x60;GET /companies/{id}&#x60;. A site-public company with no round the viewer may see still has a pitch (&#x60;perks: null&#x60;). &#x60;perks.described_in_pitch&#x60; is a heuristic: true when the structured perk list is a placeholder (\&quot;See investor overview page\&quot;, or one identical sentence on every tier) and the real tiers are in the story&#39;s images.  &#x60;authored_by&#x60; says who wrote the story: &#x60;company&#x60; (the issuer&#39;s own words and imagery, not a Wefunder assessment) or &#x60;wefunder&#x60; (a Wefunder-prepared deal memo the company did not participate in; &#x60;disclaimer&#x60; carries the page&#39;s notice). A pitch can run to ~70 KB; use &#x60;sections&#x60; to ask for less. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :sections Only these sections (&#x60;offering_id&#x60;, &#x60;title&#x60;, &#x60;url&#x60;, &#x60;authored_by&#x60;, and &#x60;disclaimer&#x60; are always included). Omit for the whole pitch. Unknown names are a 400 listing the vocabulary. 
    # @return [Array<(CompanyPitchEnvelope, Integer, Hash)>] CompanyPitchEnvelope data, response status code and response headers
    def get_company_pitch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.get_company_pitch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.get_company_pitch"
      end
      allowable_values = ["story", "perks"]
      if @api_client.config.client_side_validation && opts[:'sections'] && !opts[:'sections'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"sections\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/companies/{id}/pitch'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sections'] = @api_client.build_collection_param(opts[:'sections'], :csv) if !opts[:'sections'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyPitchEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.get_company_pitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#get_company_pitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one company post in full
    # One post with its full plain-text content, by the id the list returned. Same visibility as the list; a post the tab would not show this viewer is a 404.
    # @param id [String] 
    # @param update_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompanyUpdateEnvelope]
    def get_company_update(id, update_id, opts = {})
      data, _status_code, _headers = get_company_update_with_http_info(id, update_id, opts)
      data
    end

    # Get one company post in full
    # One post with its full plain-text content, by the id the list returned. Same visibility as the list; a post the tab would not show this viewer is a 404.
    # @param id [String] 
    # @param update_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyUpdateEnvelope, Integer, Hash)>] CompanyUpdateEnvelope data, response status code and response headers
    def get_company_update_with_http_info(id, update_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.get_company_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.get_company_update"
      end
      # verify the required parameter 'update_id' is set
      if @api_client.config.client_side_validation && update_id.nil?
        fail ArgumentError, "Missing the required parameter 'update_id' when calling ExploreApi.get_company_update"
      end
      # resource path
      local_var_path = '/companies/{id}/updates/{update_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'update_id' + '}', CGI.escape(update_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyUpdateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.get_company_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#get_company_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a public offering
    # Retrieves a single offering by its id (`ofr_...`).  With `read:public`, a valid id for a non-public offering (e.g. a private Reg D 506(b) round) returns `404` — having an id does not make an offering publicly resolvable. With `read:explore` on a user access token, the offering resolves if *that user* may see it on wefunder.com (e.g. an accredited-only or invited round), and the response gains `publicly_visible` and `invested`. 
    # @param external_id [String] The offering&#39;s id (&#x60;ofr_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [OfferingEnvelope]
    def get_offering(external_id, opts = {})
      data, _status_code, _headers = get_offering_with_http_info(external_id, opts)
      data
    end

    # Get a public offering
    # Retrieves a single offering by its id (&#x60;ofr_...&#x60;).  With &#x60;read:public&#x60;, a valid id for a non-public offering (e.g. a private Reg D 506(b) round) returns &#x60;404&#x60; — having an id does not make an offering publicly resolvable. With &#x60;read:explore&#x60; on a user access token, the offering resolves if *that user* may see it on wefunder.com (e.g. an accredited-only or invited round), and the response gains &#x60;publicly_visible&#x60; and &#x60;invested&#x60;. 
    # @param external_id [String] The offering&#39;s id (&#x60;ofr_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferingEnvelope, Integer, Hash)>] OfferingEnvelope data, response status code and response headers
    def get_offering_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.get_offering ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling ExploreApi.get_offering"
      end
      # resource path
      local_var_path = '/offerings/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferingEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.get_offering",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#get_offering\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a company's investor questions and answers
    # The company page's Ask tab as data: the questions investors asked and the answers, as the tab lists them for this viewer (the same repository and visibility as the site). Like the tab, questions default to the current raise — those asked since it opened (`meta.questions_since`); `past_raises=true` includes every raise, which the site offers to any visitor because past-raise questions are public. `sort` is the tab's dropdown: `relevance` (default: highlighted, then answered, then most liked), `recent`, `upvoted`, `unanswered`. Text is plain. Questions and answers carry their id (`cmt_...`); the integer key never leaves the API. Answers are the founders' own words.  `q` searches question and answer text (Postgres full text: quoted phrases and `-word` work; one- or two-word queries also prefix-match) and replaces the sort with match rank — `meta.sort` is then `search` and each result's `match` says whether its question or an answer matched. `unanswered_by_team=true` keeps only questions with no live answer from the company's team (the founder's queue; the `unanswered` sort merely orders by whether anyone replied). 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'relevance')
    # @option opts [Boolean] :past_raises  (default to false)
    # @option opts [String] :q Full-text search over questions and answers. At most 200 bytes.
    # @option opts [Boolean] :unanswered_by_team  (default to false)
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 20)
    # @return [CompanyQuestionListEnvelope]
    def list_company_questions(id, opts = {})
      data, _status_code, _headers = list_company_questions_with_http_info(id, opts)
      data
    end

    # List a company&#39;s investor questions and answers
    # The company page&#39;s Ask tab as data: the questions investors asked and the answers, as the tab lists them for this viewer (the same repository and visibility as the site). Like the tab, questions default to the current raise — those asked since it opened (&#x60;meta.questions_since&#x60;); &#x60;past_raises&#x3D;true&#x60; includes every raise, which the site offers to any visitor because past-raise questions are public. &#x60;sort&#x60; is the tab&#39;s dropdown: &#x60;relevance&#x60; (default: highlighted, then answered, then most liked), &#x60;recent&#x60;, &#x60;upvoted&#x60;, &#x60;unanswered&#x60;. Text is plain. Questions and answers carry their id (&#x60;cmt_...&#x60;); the integer key never leaves the API. Answers are the founders&#39; own words.  &#x60;q&#x60; searches question and answer text (Postgres full text: quoted phrases and &#x60;-word&#x60; work; one- or two-word queries also prefix-match) and replaces the sort with match rank — &#x60;meta.sort&#x60; is then &#x60;search&#x60; and each result&#39;s &#x60;match&#x60; says whether its question or an answer matched. &#x60;unanswered_by_team&#x3D;true&#x60; keeps only questions with no live answer from the company&#39;s team (the founder&#39;s queue; the &#x60;unanswered&#x60; sort merely orders by whether anyone replied). 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort  (default to 'relevance')
    # @option opts [Boolean] :past_raises  (default to false)
    # @option opts [String] :q Full-text search over questions and answers. At most 200 bytes.
    # @option opts [Boolean] :unanswered_by_team  (default to false)
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(CompanyQuestionListEnvelope, Integer, Hash)>] CompanyQuestionListEnvelope data, response status code and response headers
    def list_company_questions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.list_company_questions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.list_company_questions"
      end
      allowable_values = ["relevance", "recent", "upvoted", "unanswered"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 200
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling ExploreApi.list_company_questions, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 50
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ExploreApi.list_company_questions, must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/companies/{id}/questions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'past_raises'] = opts[:'past_raises'] if !opts[:'past_raises'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'unanswered_by_team'] = opts[:'unanswered_by_team'] if !opts[:'unanswered_by_team'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyQuestionListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.list_company_questions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#list_company_questions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a company's posts
    # The company page's Posts tab as data: the published updates, notes, and spotlights the viewer may see, pinned first then newest, with a plain-text excerpt each. With `read:explore` the viewer is the authorizing user, so a follower or investor sees the community- and investors-only posts the site shows them; with `read:public` it is the anonymous view. Same query as the tab (`FeedItem.viewable_by`); investments, Q&A threads, and investor quotes belong to other tabs and are not here. Fetch one post in full with `GET /companies/{id}/updates/{update_id}`. Posts are the issuer's own words. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 20)
    # @return [CompanyUpdateListEnvelope]
    def list_company_updates(id, opts = {})
      data, _status_code, _headers = list_company_updates_with_http_info(id, opts)
      data
    end

    # List a company&#39;s posts
    # The company page&#39;s Posts tab as data: the published updates, notes, and spotlights the viewer may see, pinned first then newest, with a plain-text excerpt each. With &#x60;read:explore&#x60; the viewer is the authorizing user, so a follower or investor sees the community- and investors-only posts the site shows them; with &#x60;read:public&#x60; it is the anonymous view. Same query as the tab (&#x60;FeedItem.viewable_by&#x60;); investments, Q&amp;A threads, and investor quotes belong to other tabs and are not here. Fetch one post in full with &#x60;GET /companies/{id}/updates/{update_id}&#x60;. Posts are the issuer&#39;s own words. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 20)
    # @return [Array<(CompanyUpdateListEnvelope, Integer, Hash)>] CompanyUpdateListEnvelope data, response status code and response headers
    def list_company_updates_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.list_company_updates ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExploreApi.list_company_updates"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 50
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ExploreApi.list_company_updates, must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/companies/{id}/updates'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyUpdateListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.list_company_updates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#list_company_updates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List public offerings
    # Returns the offerings shown on wefunder.com/explore — the curated set of companies that meet Wefunder's discoverability bar (a soft-confirmed traction threshold plus approval), **one offering per company**. An \"offering\" is a fundraise, addressed by its id (`ofr_...`).  **Public view (`read:public`).** Reachable with either a server-side (client_credentials) token or a user access token. Private rounds (e.g. Reg D 506(b)) are never listed, and low-traction or unapproved companies are excluded — exactly as they are on the website for a logged-out visitor.  **Logged-in view (`read:explore`).** A user access token carrying `read:explore` gets what *that user* sees on wefunder.com/explore: the public offerings plus any the user qualifies for (accredited-only / Vault deals, invited private rounds), each checked against the same visibility policy the website applies. The response is a strict superset of the public one — same fields and ids — with two extra attributes, `publicly_visible` and `invested`, and `meta.personalized: true`. A server-side key can never hold `read:explore`; a token with `read:explore` but no resolvable user gets the public view.  Order with `sort` (default: most raised); paginate with `cursor`. `meta.total_count` is the number of offerings across all pages, after filters.  **Filters** are objective, per-offering terms — exemption family, security type, TTW vs. live, minimum investment ceiling, close date, amount raised floor. The response echoes the applied set in `meta.filters`. An out-of-vocabulary value is a `400` naming the accepted values. There are deliberately no relevance, quality, or ranking criteria.  Use this endpoint to: - Discover and monitor active deals - Build deal aggregators and public listings 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [String] :sort Result ordering: - &#x60;most_raised&#x60; (default) — highest amount raised first - &#x60;closing_soon&#x60; — soonest funding close first - &#x60;newest&#x60; — most recently launched first - &#x60;most_investors&#x60; — highest investor count first  (default to 'most_raised')
    # @option opts [String] :exemption Only offerings under this SEC exemption family. Reg CF and Reg D are the supported public filters.
    # @option opts [String] :security Only offerings issuing this kind of security — the &#x60;security.type&#x60; value on results.
    # @option opts [Boolean] :testing_the_waters &#x60;false&#x60; — only live rounds accepting investments; &#x60;true&#x60; — only Testing-the-Waters rounds collecting non-binding reservations.
    # @option opts [Float] :max_min_investment Only offerings whose minimum investment is at most this amount (USD).
    # @option opts [Date] :closing_before Only offerings whose funding close date is on or before this date (ISO 8601). Offerings with no close date are excluded.
    # @option opts [Float] :min_amount_raised Only offerings that have raised at least this amount so far (USD).
    # @option opts [Array<String>] :industry Only companies tagged with any of these industries — the curated tags the wefunder.com explore page filters by (see each offering&#39;s &#x60;industries&#x60;). One value or a comma-separated list; unknown values are a 400 listing the vocabulary. Objective facets, not a ranking. 
    # @option opts [Array<String>] :business_model Only companies with any of these business models (see each offering&#39;s &#x60;business_models&#x60;). One value or a comma-separated list.
    # @option opts [Boolean] :followed **Logged-in view only** (&#x60;read:explore&#x60; with a user). &#x60;true&#x60; — only companies the authorizing user follows on wefunder.com (their watchlist); &#x60;false&#x60; — only companies they do not follow. A 400 on the public view, which has no user to filter by. 
    # @return [OfferingListEnvelope]
    def list_offerings(opts = {})
      data, _status_code, _headers = list_offerings_with_http_info(opts)
      data
    end

    # List public offerings
    # Returns the offerings shown on wefunder.com/explore — the curated set of companies that meet Wefunder&#39;s discoverability bar (a soft-confirmed traction threshold plus approval), **one offering per company**. An \&quot;offering\&quot; is a fundraise, addressed by its id (&#x60;ofr_...&#x60;).  **Public view (&#x60;read:public&#x60;).** Reachable with either a server-side (client_credentials) token or a user access token. Private rounds (e.g. Reg D 506(b)) are never listed, and low-traction or unapproved companies are excluded — exactly as they are on the website for a logged-out visitor.  **Logged-in view (&#x60;read:explore&#x60;).** A user access token carrying &#x60;read:explore&#x60; gets what *that user* sees on wefunder.com/explore: the public offerings plus any the user qualifies for (accredited-only / Vault deals, invited private rounds), each checked against the same visibility policy the website applies. The response is a strict superset of the public one — same fields and ids — with two extra attributes, &#x60;publicly_visible&#x60; and &#x60;invested&#x60;, and &#x60;meta.personalized: true&#x60;. A server-side key can never hold &#x60;read:explore&#x60;; a token with &#x60;read:explore&#x60; but no resolvable user gets the public view.  Order with &#x60;sort&#x60; (default: most raised); paginate with &#x60;cursor&#x60;. &#x60;meta.total_count&#x60; is the number of offerings across all pages, after filters.  **Filters** are objective, per-offering terms — exemption family, security type, TTW vs. live, minimum investment ceiling, close date, amount raised floor. The response echoes the applied set in &#x60;meta.filters&#x60;. An out-of-vocabulary value is a &#x60;400&#x60; naming the accepted values. There are deliberately no relevance, quality, or ranking criteria.  Use this endpoint to: - Discover and monitor active deals - Build deal aggregators and public listings 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [String] :sort Result ordering: - &#x60;most_raised&#x60; (default) — highest amount raised first - &#x60;closing_soon&#x60; — soonest funding close first - &#x60;newest&#x60; — most recently launched first - &#x60;most_investors&#x60; — highest investor count first  (default to 'most_raised')
    # @option opts [String] :exemption Only offerings under this SEC exemption family. Reg CF and Reg D are the supported public filters.
    # @option opts [String] :security Only offerings issuing this kind of security — the &#x60;security.type&#x60; value on results.
    # @option opts [Boolean] :testing_the_waters &#x60;false&#x60; — only live rounds accepting investments; &#x60;true&#x60; — only Testing-the-Waters rounds collecting non-binding reservations.
    # @option opts [Float] :max_min_investment Only offerings whose minimum investment is at most this amount (USD).
    # @option opts [Date] :closing_before Only offerings whose funding close date is on or before this date (ISO 8601). Offerings with no close date are excluded.
    # @option opts [Float] :min_amount_raised Only offerings that have raised at least this amount so far (USD).
    # @option opts [Array<String>] :industry Only companies tagged with any of these industries — the curated tags the wefunder.com explore page filters by (see each offering&#39;s &#x60;industries&#x60;). One value or a comma-separated list; unknown values are a 400 listing the vocabulary. Objective facets, not a ranking. 
    # @option opts [Array<String>] :business_model Only companies with any of these business models (see each offering&#39;s &#x60;business_models&#x60;). One value or a comma-separated list.
    # @option opts [Boolean] :followed **Logged-in view only** (&#x60;read:explore&#x60; with a user). &#x60;true&#x60; — only companies the authorizing user follows on wefunder.com (their watchlist); &#x60;false&#x60; — only companies they do not follow. A 400 on the public view, which has no user to filter by. 
    # @return [Array<(OfferingListEnvelope, Integer, Hash)>] OfferingListEnvelope data, response status code and response headers
    def list_offerings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExploreApi.list_offerings ...'
      end
      allowable_values = ["most_raised", "closing_soon", "newest", "most_investors"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["reg_cf", "reg_d"]
      if @api_client.config.client_side_validation && opts[:'exemption'] && !allowable_values.include?(opts[:'exemption'])
        fail ArgumentError, "invalid value for \"exemption\", must be one of #{allowable_values}"
      end
      allowable_values = ["safe", "equity", "convertible_note", "revenue_share", "debt", "fund", "other"]
      if @api_client.config.client_side_validation && opts[:'security'] && !allowable_values.include?(opts[:'security'])
        fail ArgumentError, "invalid value for \"security\", must be one of #{allowable_values}"
      end
      allowable_values = ["ar_and_vr", "agriculture_and_agtech", "artificial_intelligence", "biotech", "blockchain_and_web3", "edtech", "energy", "fintech_and_finance", "food_tech", "games", "health_and_fitness", "healthcare", "manufacturing", "mobile_apps", "robotics", "science_and_r_and_d", "transportation", "travel_and_tourism", "bars_and_clubs", "brewery", "cafe_and_food_truck", "events_and_festivals", "education", "distillery_and_vineyards", "fashion", "film", "media", "music", "restaurant", "sports", "real_estate", "pets", "recreation", "infrastructure_and_construction", "childcare", "sustainability", "sports_tech", "home_tech", "devtools", "clean_tech", "beauty", "entertainment", "technology", "brick_and_mortar", "food_and_beverage", "climate_change", "alcohol_and_vice", "consumer_goods", "hardware", "moonshots"]
      if @api_client.config.client_side_validation && opts[:'industry'] && !opts[:'industry'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"industry\", must include one of #{allowable_values}"
      end
      allowable_values = ["b2b", "b2c", "subscription", "saas", "service", "marketplace", "ecommerce", "retail"]
      if @api_client.config.client_side_validation && opts[:'business_model'] && !opts[:'business_model'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"business_model\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/explore'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'exemption'] = opts[:'exemption'] if !opts[:'exemption'].nil?
      query_params[:'security'] = opts[:'security'] if !opts[:'security'].nil?
      query_params[:'testing_the_waters'] = opts[:'testing_the_waters'] if !opts[:'testing_the_waters'].nil?
      query_params[:'max_min_investment'] = opts[:'max_min_investment'] if !opts[:'max_min_investment'].nil?
      query_params[:'closing_before'] = opts[:'closing_before'] if !opts[:'closing_before'].nil?
      query_params[:'min_amount_raised'] = opts[:'min_amount_raised'] if !opts[:'min_amount_raised'].nil?
      query_params[:'industry'] = @api_client.build_collection_param(opts[:'industry'], :csv) if !opts[:'industry'].nil?
      query_params[:'business_model'] = @api_client.build_collection_param(opts[:'business_model'], :csv) if !opts[:'business_model'].nil?
      query_params[:'followed'] = opts[:'followed'] if !opts[:'followed'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferingListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExploreApi.list_offerings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExploreApi#list_offerings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
