=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class InstallationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Install your app on a company or syndicate
    # Installs the calling application on a company or syndicate the token's user can edit (or, for a syndicate, manages), and mints the **company-owned token** the install stands for. The token appears in this response only. Requires a token authorized by a user.  The install is granted at the caller's tier (founder, admin or editor for a company). An editor-tier install carries read scopes only; write scopes in `scopes` are dropped. Installing on a company outside your own organization requires the app to be approved. 
    # @param create_installation_request [CreateInstallationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InstallationTokenEnvelope]
    def create_installation(create_installation_request, opts = {})
      data, _status_code, _headers = create_installation_with_http_info(create_installation_request, opts)
      data
    end

    # Install your app on a company or syndicate
    # Installs the calling application on a company or syndicate the token&#39;s user can edit (or, for a syndicate, manages), and mints the **company-owned token** the install stands for. The token appears in this response only. Requires a token authorized by a user.  The install is granted at the caller&#39;s tier (founder, admin or editor for a company). An editor-tier install carries read scopes only; write scopes in &#x60;scopes&#x60; are dropped. Installing on a company outside your own organization requires the app to be approved. 
    # @param create_installation_request [CreateInstallationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallationTokenEnvelope, Integer, Hash)>] InstallationTokenEnvelope data, response status code and response headers
    def create_installation_with_http_info(create_installation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.create_installation ...'
      end
      # verify the required parameter 'create_installation_request' is set
      if @api_client.config.client_side_validation && create_installation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_installation_request' when calling InstallationsApi.create_installation"
      end
      # resource path
      local_var_path = '/installations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_installation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InstallationTokenEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.create_installation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#create_installation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint a token for an installation
    # Mints another company-owned token for an active install — for example one a founder made through the install link. Scopes default to the install's grant and can only narrow it. The token appears in this response only. Requires a token authorized by a user who installed it, could revoke it, or manages the app's organization. 
    # @param external_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateInstallationTokenRequest] :create_installation_token_request 
    # @return [InstallationTokenEnvelope]
    def create_installation_token(external_id, opts = {})
      data, _status_code, _headers = create_installation_token_with_http_info(external_id, opts)
      data
    end

    # Mint a token for an installation
    # Mints another company-owned token for an active install — for example one a founder made through the install link. Scopes default to the install&#39;s grant and can only narrow it. The token appears in this response only. Requires a token authorized by a user who installed it, could revoke it, or manages the app&#39;s organization. 
    # @param external_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateInstallationTokenRequest] :create_installation_token_request 
    # @return [Array<(InstallationTokenEnvelope, Integer, Hash)>] InstallationTokenEnvelope data, response status code and response headers
    def create_installation_token_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.create_installation_token ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling InstallationsApi.create_installation_token"
      end
      # resource path
      local_var_path = '/installations/{external_id}/tokens'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_installation_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'InstallationTokenEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.create_installation_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#create_installation_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an installation
    # @param external_id [String] Installation external id (&#x60;inst_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [InstallationEnvelope]
    def get_installation(external_id, opts = {})
      data, _status_code, _headers = get_installation_with_http_info(external_id, opts)
      data
    end

    # Retrieve an installation
    # @param external_id [String] Installation external id (&#x60;inst_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallationEnvelope, Integer, Hash)>] InstallationEnvelope data, response status code and response headers
    def get_installation_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.get_installation ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling InstallationsApi.get_installation"
      end
      # resource path
      local_var_path = '/installations/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstallationEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.get_installation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#get_installation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List where you can install your app
    # Companies the token's user can edit and syndicates they manage, with the tier an install would be granted at and the current install if one exists. Requires a token authorized by a user. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_type 
    # @return [EligibleTargetListEnvelope]
    def list_eligible_install_targets(opts = {})
      data, _status_code, _headers = list_eligible_install_targets_with_http_info(opts)
      data
    end

    # List where you can install your app
    # Companies the token&#39;s user can edit and syndicates they manage, with the tier an install would be granted at and the current install if one exists. Requires a token authorized by a user. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :target_type 
    # @return [Array<(EligibleTargetListEnvelope, Integer, Hash)>] EligibleTargetListEnvelope data, response status code and response headers
    def list_eligible_install_targets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.list_eligible_install_targets ...'
      end
      allowable_values = ["company", "syndicate"]
      if @api_client.config.client_side_validation && opts[:'target_type'] && !allowable_values.include?(opts[:'target_type'])
        fail ArgumentError, "invalid value for \"target_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/installations/eligible'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'target_type'] = opts[:'target_type'] if !opts[:'target_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EligibleTargetListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.list_eligible_install_targets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#list_eligible_install_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List installations of your app
    # Where the calling application is installed. Someone who manages the app's organization sees every install; anyone else sees the installs they made or could revoke. Revoked installs stay listed for 30 days. 
    # @param [Hash] opts the optional parameters
    # @return [InstallationListEnvelope]
    def list_installations(opts = {})
      data, _status_code, _headers = list_installations_with_http_info(opts)
      data
    end

    # List installations of your app
    # Where the calling application is installed. Someone who manages the app&#39;s organization sees every install; anyone else sees the installs they made or could revoke. Revoked installs stay listed for 30 days. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallationListEnvelope, Integer, Hash)>] InstallationListEnvelope data, response status code and response headers
    def list_installations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.list_installations ...'
      end
      # resource path
      local_var_path = '/installations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstallationListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.list_installations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#list_installations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke an installation
    # Revokes the install and every token issued for it. Requires a token authorized by a user who can edit the company (or manages the syndicate), or who administers the app's organization. 
    # @param external_id [String] Installation external id (&#x60;inst_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [InstallationEnvelope]
    def revoke_installation(external_id, opts = {})
      data, _status_code, _headers = revoke_installation_with_http_info(external_id, opts)
      data
    end

    # Revoke an installation
    # Revokes the install and every token issued for it. Requires a token authorized by a user who can edit the company (or manages the syndicate), or who administers the app&#39;s organization. 
    # @param external_id [String] Installation external id (&#x60;inst_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallationEnvelope, Integer, Hash)>] InstallationEnvelope data, response status code and response headers
    def revoke_installation_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstallationsApi.revoke_installation ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling InstallationsApi.revoke_installation"
      end
      # resource path
      local_var_path = '/installations/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstallationEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InstallationsApi.revoke_installation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstallationsApi#revoke_installation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
