=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class IntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Propose an intent
    # Propose a dangerous or irreversible action for human approval. Returns a `review_url` where a human must review the impact and approve before the action executes.  The entity that proposes an intent can never approve it. Approval always happens on Wefunder's UI by a user with permission on the resource.  Each action names the scope that may propose it and the resource type it targets (`syndicates.*` → `write:syndicates` on a syndicate; `comments.create` → `write:comments` on a `Company`). The token must hold that action's scope; holding another proposing scope is not enough (403 `insufficient_scope`).  `comments.create` posts a question on a company's Ask tab, or an answer to one, as the requesting user once they approve on wefunder.com. `resource_id` is the company (`co_...`); `params` is `{ target_type: \"company\" | \"comment\", target: \"co_...\" | \"cmt_...\", body, disclosure_key? }` (`disclosure_key` ∈ investor, stockholder, promoter, financial_stakeholder). Who may post is the site's own rule: anyone the page is available to may ask (unless the company has closed questions); only the company's team may answer. Only the requester can approve. 20 proposals per user per day (429).  An `idempotency_key` names one operation. Reusing it for the same operation returns the existing intent (200) while that intent is pending, approved, executing, or executed; reusing it for a different action, resource, or params is a 409 `idempotency_conflict`.  An action still rolling out per account returns 403 `feature_disabled` for a user who is not yet enabled. `POST /intents/preview` runs the same checks without minting.  See [Intents documentation](/concepts/intents) for the full pattern. 
    # @param create_intent_request [CreateIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntentEnvelope]
    def create_intent(create_intent_request, opts = {})
      data, _status_code, _headers = create_intent_with_http_info(create_intent_request, opts)
      data
    end

    # Propose an intent
    # Propose a dangerous or irreversible action for human approval. Returns a &#x60;review_url&#x60; where a human must review the impact and approve before the action executes.  The entity that proposes an intent can never approve it. Approval always happens on Wefunder&#39;s UI by a user with permission on the resource.  Each action names the scope that may propose it and the resource type it targets (&#x60;syndicates.*&#x60; → &#x60;write:syndicates&#x60; on a syndicate; &#x60;comments.create&#x60; → &#x60;write:comments&#x60; on a &#x60;Company&#x60;). The token must hold that action&#39;s scope; holding another proposing scope is not enough (403 &#x60;insufficient_scope&#x60;).  &#x60;comments.create&#x60; posts a question on a company&#39;s Ask tab, or an answer to one, as the requesting user once they approve on wefunder.com. &#x60;resource_id&#x60; is the company (&#x60;co_...&#x60;); &#x60;params&#x60; is &#x60;{ target_type: \&quot;company\&quot; | \&quot;comment\&quot;, target: \&quot;co_...\&quot; | \&quot;cmt_...\&quot;, body, disclosure_key? }&#x60; (&#x60;disclosure_key&#x60; ∈ investor, stockholder, promoter, financial_stakeholder). Who may post is the site&#39;s own rule: anyone the page is available to may ask (unless the company has closed questions); only the company&#39;s team may answer. Only the requester can approve. 20 proposals per user per day (429).  An &#x60;idempotency_key&#x60; names one operation. Reusing it for the same operation returns the existing intent (200) while that intent is pending, approved, executing, or executed; reusing it for a different action, resource, or params is a 409 &#x60;idempotency_conflict&#x60;.  An action still rolling out per account returns 403 &#x60;feature_disabled&#x60; for a user who is not yet enabled. &#x60;POST /intents/preview&#x60; runs the same checks without minting.  See [Intents documentation](/concepts/intents) for the full pattern. 
    # @param create_intent_request [CreateIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntentEnvelope, Integer, Hash)>] IntentEnvelope data, response status code and response headers
    def create_intent_with_http_info(create_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntentsApi.create_intent ...'
      end
      # verify the required parameter 'create_intent_request' is set
      if @api_client.config.client_side_validation && create_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_intent_request' when calling IntentsApi.create_intent"
      end
      # resource path
      local_var_path = '/intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntentEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IntentsApi.create_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntentsApi#create_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get intent status
    # Check the current status of an intent. Use this to poll for approval after proposing an intent, or subscribe to `intent.*` webhook events instead. 
    # @param intent_id [String] The intent&#39;s id (&#x60;int_...&#x60;), as returned when the intent was minted (&#x60;data.id&#x60; / &#x60;meta.*_intent.id&#x60;). The legacy UUID form is still accepted.
    # @param [Hash] opts the optional parameters
    # @return [IntentEnvelope]
    def get_intent(intent_id, opts = {})
      data, _status_code, _headers = get_intent_with_http_info(intent_id, opts)
      data
    end

    # Get intent status
    # Check the current status of an intent. Use this to poll for approval after proposing an intent, or subscribe to &#x60;intent.*&#x60; webhook events instead. 
    # @param intent_id [String] The intent&#39;s id (&#x60;int_...&#x60;), as returned when the intent was minted (&#x60;data.id&#x60; / &#x60;meta.*_intent.id&#x60;). The legacy UUID form is still accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntentEnvelope, Integer, Hash)>] IntentEnvelope data, response status code and response headers
    def get_intent_with_http_info(intent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntentsApi.get_intent ...'
      end
      # verify the required parameter 'intent_id' is set
      if @api_client.config.client_side_validation && intent_id.nil?
        fail ArgumentError, "Missing the required parameter 'intent_id' when calling IntentsApi.get_intent"
      end
      # resource path
      local_var_path = '/intents/{intent_id}'.sub('{' + 'intent_id' + '}', CGI.escape(intent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntentEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IntentsApi.get_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntentsApi#get_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List intents
    # List intents created by the current token, optionally filtered by status or resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id For Club resources, the syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page  (default to 25)
    # @return [IntentListEnvelope]
    def list_intents(opts = {})
      data, _status_code, _headers = list_intents_with_http_info(opts)
      data
    end

    # List intents
    # List intents created by the current token, optionally filtered by status or resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :resource_type 
    # @option opts [String] :resource_id For Club resources, the syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page  (default to 25)
    # @return [Array<(IntentListEnvelope, Integer, Hash)>] IntentListEnvelope data, response status code and response headers
    def list_intents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntentsApi.list_intents ...'
      end
      allowable_values = ["pending", "approved", "executed", "expired", "rejected", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling IntentsApi.list_intents, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/intents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'resource_id'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntentListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IntentsApi.list_intents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntentsApi#list_intents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview an intent without proposing it
    # Runs every check `POST /intents` runs — the action's feature flag, resource type and id, token binding, who may propose, and the handler's own validation — and returns what the reviewer would read, without minting anything. The draft step for agents: admitted by any proposing scope **or** `read:explore`, and the action's own scope is not required on the token, so a user can shape the text before granting the write permission. The caller must still be allowed to propose on the resource, and for a syndicate-owned token the application's Installation scope ceiling still applies (an install granted only `read:syndicates` cannot preview a `write:syndicates` action: `403 insufficient_scope`). Same request body as `POST /intents` (without `idempotency_key`). Errors are the same as `POST /intents` would give. 
    # @param preview_intent_request [PreviewIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntentPreviewEnvelope]
    def preview_intent(preview_intent_request, opts = {})
      data, _status_code, _headers = preview_intent_with_http_info(preview_intent_request, opts)
      data
    end

    # Preview an intent without proposing it
    # Runs every check &#x60;POST /intents&#x60; runs — the action&#39;s feature flag, resource type and id, token binding, who may propose, and the handler&#39;s own validation — and returns what the reviewer would read, without minting anything. The draft step for agents: admitted by any proposing scope **or** &#x60;read:explore&#x60;, and the action&#39;s own scope is not required on the token, so a user can shape the text before granting the write permission. The caller must still be allowed to propose on the resource, and for a syndicate-owned token the application&#39;s Installation scope ceiling still applies (an install granted only &#x60;read:syndicates&#x60; cannot preview a &#x60;write:syndicates&#x60; action: &#x60;403 insufficient_scope&#x60;). Same request body as &#x60;POST /intents&#x60; (without &#x60;idempotency_key&#x60;). Errors are the same as &#x60;POST /intents&#x60; would give. 
    # @param preview_intent_request [PreviewIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntentPreviewEnvelope, Integer, Hash)>] IntentPreviewEnvelope data, response status code and response headers
    def preview_intent_with_http_info(preview_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntentsApi.preview_intent ...'
      end
      # verify the required parameter 'preview_intent_request' is set
      if @api_client.config.client_side_validation && preview_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'preview_intent_request' when calling IntentsApi.preview_intent"
      end
      # resource path
      local_var_path = '/intents/preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(preview_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntentPreviewEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"IntentsApi.preview_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntentsApi#preview_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
