=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class InvestmentDeltaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bootstrap or page investment changes for a company
    # The Investment Delta API: keep a copy of a company's investment records in sync by polling. Call without `cursor` to **bootstrap** (list every current record for the company); every response carries `meta.next_cursor`; call again with that cursor to receive only the records whose published state changed since. Records are the same shape in both modes.  - Records are **published state**, not live rows: Wefunder publishes a record when the   investment's founder-visible state changes, and serves exactly what was published. - `visible: false` records are **tombstones**: the investment is no longer visible to the   company (canceled, converted to another round, hidden, or deleted). Delete your copy. - Apply records in `cursor` order. `observed_at` is when the payload was observed, not a   version; a record you read late carries the *current* published state. - **410 Gone** means your cursor predates the 90-day retention window. Bootstrap again and   **replace** your dataset for the company from the result (records absent from the   bootstrap are deleted). - Investor identity fields (`investor.name`, `investor.legal_name`, `investor.email`,   `investor.address`, `investor.bio`, `message`, `external_username`) are **omitted**   unless the token carries `read:investors:pii`. - Money is integer minor units plus `amounts.currency` (`committed_cents`,   `investment_size_cents`, `in_escrow_cents`, `contracts[].override_amount_cents`).   `shares` and `average_share_price` are decimal strings, `null` on rounds without shares.   `amounts.raised_cents` is the row's contribution to the public raised figure (0 while   `needs_whitelisting`); sum it, not `committed_cents`, to match the deal page. 
    # @param company_id [String] The company&#39;s external id (&#x60;co_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from a previous response&#39;s &#x60;meta.next_cursor&#x60;. Omit to bootstrap. 
    # @option opts [Integer] :per_page Records per page, 1–100 (default 25). Delta pages count distinct investments. (default to 25)
    # @return [InvestmentChangeListEnvelope]
    def list_company_investment_changes(company_id, opts = {})
      data, _status_code, _headers = list_company_investment_changes_with_http_info(company_id, opts)
      data
    end

    # Bootstrap or page investment changes for a company
    # The Investment Delta API: keep a copy of a company&#39;s investment records in sync by polling. Call without &#x60;cursor&#x60; to **bootstrap** (list every current record for the company); every response carries &#x60;meta.next_cursor&#x60;; call again with that cursor to receive only the records whose published state changed since. Records are the same shape in both modes.  - Records are **published state**, not live rows: Wefunder publishes a record when the   investment&#39;s founder-visible state changes, and serves exactly what was published. - &#x60;visible: false&#x60; records are **tombstones**: the investment is no longer visible to the   company (canceled, converted to another round, hidden, or deleted). Delete your copy. - Apply records in &#x60;cursor&#x60; order. &#x60;observed_at&#x60; is when the payload was observed, not a   version; a record you read late carries the *current* published state. - **410 Gone** means your cursor predates the 90-day retention window. Bootstrap again and   **replace** your dataset for the company from the result (records absent from the   bootstrap are deleted). - Investor identity fields (&#x60;investor.name&#x60;, &#x60;investor.legal_name&#x60;, &#x60;investor.email&#x60;,   &#x60;investor.address&#x60;, &#x60;investor.bio&#x60;, &#x60;message&#x60;, &#x60;external_username&#x60;) are **omitted**   unless the token carries &#x60;read:investors:pii&#x60;. - Money is integer minor units plus &#x60;amounts.currency&#x60; (&#x60;committed_cents&#x60;,   &#x60;investment_size_cents&#x60;, &#x60;in_escrow_cents&#x60;, &#x60;contracts[].override_amount_cents&#x60;).   &#x60;shares&#x60; and &#x60;average_share_price&#x60; are decimal strings, &#x60;null&#x60; on rounds without shares.   &#x60;amounts.raised_cents&#x60; is the row&#39;s contribution to the public raised figure (0 while   &#x60;needs_whitelisting&#x60;); sum it, not &#x60;committed_cents&#x60;, to match the deal page. 
    # @param company_id [String] The company&#39;s external id (&#x60;co_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from a previous response&#39;s &#x60;meta.next_cursor&#x60;. Omit to bootstrap. 
    # @option opts [Integer] :per_page Records per page, 1–100 (default 25). Delta pages count distinct investments. (default to 25)
    # @return [Array<(InvestmentChangeListEnvelope, Integer, Hash)>] InvestmentChangeListEnvelope data, response status code and response headers
    def list_company_investment_changes_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentDeltaApi.list_company_investment_changes ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling InvestmentDeltaApi.list_company_investment_changes"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling InvestmentDeltaApi.list_company_investment_changes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling InvestmentDeltaApi.list_company_investment_changes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/investments/changes'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentChangeListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvestmentDeltaApi.list_company_investment_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentDeltaApi#list_company_investment_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
