=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class InvestmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve an investment (current)
    # The same record shape as the list, derived **now** from the investment rather than read from published state, so an investor who just acted sees the change at once. Available for any investment in the token's audience: the user's own (any status) or a founder-visible investment on a company the user edits. `meta.published_matches` says whether the published record already agrees; the sync stream converges within its interval. 
    # @param id [String] Investment external id (&#x60;inv_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [InvestmentEnvelope]
    def get_investment(id, opts = {})
      data, _status_code, _headers = get_investment_with_http_info(id, opts)
      data
    end

    # Retrieve an investment (current)
    # The same record shape as the list, derived **now** from the investment rather than read from published state, so an investor who just acted sees the change at once. Available for any investment in the token&#39;s audience: the user&#39;s own (any status) or a founder-visible investment on a company the user edits. &#x60;meta.published_matches&#x60; says whether the published record already agrees; the sync stream converges within its interval. 
    # @param id [String] Investment external id (&#x60;inv_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvestmentEnvelope, Integer, Hash)>] InvestmentEnvelope data, response status code and response headers
    def get_investment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentsApi.get_investment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvestmentsApi.get_investment"
      end
      # resource path
      local_var_path = '/investments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvestmentsApi.get_investment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentsApi#get_investment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Investment totals for an offering
    # Count and committed amount of the founder-visible published records for one offering, by status, from the same rows `GET /investments?offering_id=…` lists, so the two reconcile. These are **not** the public campaign figures (the progress bar has its own rules and sources); they are the sum of the records you can list. Requires the token's user to edit the offering's company. 
    # @param offering_id [String] Offering external id (&#x60;ofr_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [OfferingStatsEnvelope]
    def get_offering_stats(offering_id, opts = {})
      data, _status_code, _headers = get_offering_stats_with_http_info(offering_id, opts)
      data
    end

    # Investment totals for an offering
    # Count and committed amount of the founder-visible published records for one offering, by status, from the same rows &#x60;GET /investments?offering_id&#x3D;…&#x60; lists, so the two reconcile. These are **not** the public campaign figures (the progress bar has its own rules and sources); they are the sum of the records you can list. Requires the token&#39;s user to edit the offering&#39;s company. 
    # @param offering_id [String] Offering external id (&#x60;ofr_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferingStatsEnvelope, Integer, Hash)>] OfferingStatsEnvelope data, response status code and response headers
    def get_offering_stats_with_http_info(offering_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentsApi.get_offering_stats ...'
      end
      # verify the required parameter 'offering_id' is set
      if @api_client.config.client_side_validation && offering_id.nil?
        fail ArgumentError, "Missing the required parameter 'offering_id' when calling InvestmentsApi.get_offering_stats"
      end
      # resource path
      local_var_path = '/offerings/{offering_id}/stats'.sub('{' + 'offering_id' + '}', CGI.escape(offering_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferingStatsEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvestmentsApi.get_offering_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentsApi#get_offering_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List or sync investments
    # The investment records the token may see, served from **published** state (docs: *Investments: list, sync, retrieve*). The audience is the union of the companies the token's user edits (their founder-visible records) and the user's own investments (every applied record of theirs, whatever its status). Filters narrow within that audience; they never widen it.  Three ways to call it: - **List** (no `cursor`, no `updated_since`): the current records, tombstones excluded,   ordered by investment. Page with `meta.next_cursor` while `meta.has_more`; the final   page's cursor is a sync cursor positioned at the moment the listing started. - **Sync by cursor**: only the records whose published state changed since the cursor,   one record per investment, tombstones (`visible: false`, only `id`) included. Apply in   `cursor` order; always store `meta.next_cursor`. - **Sync by time**: `updated_since=<ISO 8601>` is sugar for a cursor at the ledger position   just before that time (with a 60 s safety margin). The response is a normal sync page,   so continue with its `meta.next_cursor`.  Records are eventually consistent (about ten minutes on the common paths); each carries `observed_at`. `GET /investments/{id}` returns the same shape derived now. Investor identity fields on other investors' records require `read:investors:pii`; a user always sees their own. Money is integer minor units plus `amounts.currency`.  **410 Gone** means the cursor or `updated_since` predates the 90-day retention window: list again and replace your dataset. `status` cannot be combined with sync (a record leaving the status would never be delivered). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Company external id (&#x60;co_…&#x60;).
    # @option opts [String] :offering_id Offering external id (&#x60;ofr_…&#x60;). In sync mode an investment that moved to another offering is delivered once more as a tombstone under this filter. 
    # @option opts [String] :investor_id Investor external id (&#x60;usr_…&#x60;).
    # @option opts [String] :status List mode only.
    # @option opts [Time] :updated_since ISO 8601 timestamp; switches to sync mode. Mutually exclusive with &#x60;cursor&#x60; (cursor wins).
    # @option opts [String] :cursor Opaque cursor from a previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Records per page, 1–100 (default 25). Sync pages count distinct investments. (default to 25)
    # @return [InvestmentListEnvelope]
    def list_investments(opts = {})
      data, _status_code, _headers = list_investments_with_http_info(opts)
      data
    end

    # List or sync investments
    # The investment records the token may see, served from **published** state (docs: *Investments: list, sync, retrieve*). The audience is the union of the companies the token&#39;s user edits (their founder-visible records) and the user&#39;s own investments (every applied record of theirs, whatever its status). Filters narrow within that audience; they never widen it.  Three ways to call it: - **List** (no &#x60;cursor&#x60;, no &#x60;updated_since&#x60;): the current records, tombstones excluded,   ordered by investment. Page with &#x60;meta.next_cursor&#x60; while &#x60;meta.has_more&#x60;; the final   page&#39;s cursor is a sync cursor positioned at the moment the listing started. - **Sync by cursor**: only the records whose published state changed since the cursor,   one record per investment, tombstones (&#x60;visible: false&#x60;, only &#x60;id&#x60;) included. Apply in   &#x60;cursor&#x60; order; always store &#x60;meta.next_cursor&#x60;. - **Sync by time**: &#x60;updated_since&#x3D;&lt;ISO 8601&gt;&#x60; is sugar for a cursor at the ledger position   just before that time (with a 60 s safety margin). The response is a normal sync page,   so continue with its &#x60;meta.next_cursor&#x60;.  Records are eventually consistent (about ten minutes on the common paths); each carries &#x60;observed_at&#x60;. &#x60;GET /investments/{id}&#x60; returns the same shape derived now. Investor identity fields on other investors&#39; records require &#x60;read:investors:pii&#x60;; a user always sees their own. Money is integer minor units plus &#x60;amounts.currency&#x60;.  **410 Gone** means the cursor or &#x60;updated_since&#x60; predates the 90-day retention window: list again and replace your dataset. &#x60;status&#x60; cannot be combined with sync (a record leaving the status would never be delivered). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Company external id (&#x60;co_…&#x60;).
    # @option opts [String] :offering_id Offering external id (&#x60;ofr_…&#x60;). In sync mode an investment that moved to another offering is delivered once more as a tombstone under this filter. 
    # @option opts [String] :investor_id Investor external id (&#x60;usr_…&#x60;).
    # @option opts [String] :status List mode only.
    # @option opts [Time] :updated_since ISO 8601 timestamp; switches to sync mode. Mutually exclusive with &#x60;cursor&#x60; (cursor wins).
    # @option opts [String] :cursor Opaque cursor from a previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Records per page, 1–100 (default 25). Sync pages count distinct investments. (default to 25)
    # @return [Array<(InvestmentListEnvelope, Integer, Hash)>] InvestmentListEnvelope data, response status code and response headers
    def list_investments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentsApi.list_investments ...'
      end
      allowable_values = ["reserved", "active", "executed", "canceled", "converted"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling InvestmentsApi.list_investments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling InvestmentsApi.list_investments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/investments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'offering_id'] = opts[:'offering_id'] if !opts[:'offering_id'].nil?
      query_params[:'investor_id'] = opts[:'investor_id'] if !opts[:'investor_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'updated_since'] = opts[:'updated_since'] if !opts[:'updated_since'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"InvestmentsApi.list_investments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentsApi#list_investments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
