=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class PortfolioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get portfolio summary
    # Returns totals across the authenticated investor's portfolio: cost basis, current value, realized and unrealized gains, and per-status position counts. Accepts the same `status` and `company` filters as `GET /portfolio/positions` to total a slice of the portfolio, such as only exited positions.  Requires a user-authorized token. App-only (client credentials) tokens receive 403.  Portfolio values are recalculated periodically rather than on each request, so recent investments and valuation changes can take a few minutes to appear. `as_of` is the timestamp of the oldest calculation included in the response.  Monetary values are **integer cents**; per-share prices and return multiples are **decimal strings**. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Total only positions with this status.
    # @option opts [String] :company Total only positions in this company, by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [PortfolioSummaryEnvelope]
    def get_portfolio(opts = {})
      data, _status_code, _headers = get_portfolio_with_http_info(opts)
      data
    end

    # Get portfolio summary
    # Returns totals across the authenticated investor&#39;s portfolio: cost basis, current value, realized and unrealized gains, and per-status position counts. Accepts the same &#x60;status&#x60; and &#x60;company&#x60; filters as &#x60;GET /portfolio/positions&#x60; to total a slice of the portfolio, such as only exited positions.  Requires a user-authorized token. App-only (client credentials) tokens receive 403.  Portfolio values are recalculated periodically rather than on each request, so recent investments and valuation changes can take a few minutes to appear. &#x60;as_of&#x60; is the timestamp of the oldest calculation included in the response.  Monetary values are **integer cents**; per-share prices and return multiples are **decimal strings**. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Total only positions with this status.
    # @option opts [String] :company Total only positions in this company, by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [Array<(PortfolioSummaryEnvelope, Integer, Hash)>] PortfolioSummaryEnvelope data, response status code and response headers
    def get_portfolio_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioApi.get_portfolio ...'
      end
      allowable_values = ["active", "exited", "sold", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/portfolio'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PortfolioSummaryEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PortfolioApi.get_portfolio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioApi#get_portfolio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List portfolio positions
    # Returns the authenticated investor's positions, one per offering (fundraise), newest first. Position totals cover everything the investor holds in that offering; `securities` breaks the total down by security offering and legal owner, so early bird tiers and personally-held vs entity-held stakes each appear separately. Fund and SPV positions identify the companies the vehicle invested in under `holdings`.  To compute an average cost per share, divide `cost_basis_cents` by `shares_held`.  Requires a user-authorized token, like `GET /portfolio`. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Integer] :per_page Page size, 1-100. Defaults to 25. (default to 25)
    # @option opts [String] :status Filter positions by status.
    # @option opts [String] :company Filter to a single company by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [PortfolioPositionListEnvelope]
    def list_portfolio_positions(opts = {})
      data, _status_code, _headers = list_portfolio_positions_with_http_info(opts)
      data
    end

    # List portfolio positions
    # Returns the authenticated investor&#39;s positions, one per offering (fundraise), newest first. Position totals cover everything the investor holds in that offering; &#x60;securities&#x60; breaks the total down by security offering and legal owner, so early bird tiers and personally-held vs entity-held stakes each appear separately. Fund and SPV positions identify the companies the vehicle invested in under &#x60;holdings&#x60;.  To compute an average cost per share, divide &#x60;cost_basis_cents&#x60; by &#x60;shares_held&#x60;.  Requires a user-authorized token, like &#x60;GET /portfolio&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Integer] :per_page Page size, 1-100. Defaults to 25. (default to 25)
    # @option opts [String] :status Filter positions by status.
    # @option opts [String] :company Filter to a single company by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [Array<(PortfolioPositionListEnvelope, Integer, Hash)>] PortfolioPositionListEnvelope data, response status code and response headers
    def list_portfolio_positions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioApi.list_portfolio_positions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PortfolioApi.list_portfolio_positions, must be smaller than or equal to 100.'
      end

      allowable_values = ["active", "exited", "sold", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/portfolio/positions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PortfolioPositionListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PortfolioApi.list_portfolio_positions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioApi#list_portfolio_positions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
