=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class SyndicateStatisticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get syndicate statistics
    # Returns aggregate metrics for a syndicate including member counts, deal counts, total raised, and recent activity.  `total_raised` and `total_investors` are computed from directory-selected deals (one per company). `total_deals` and `live_deals` use all linked deals.  `total_raised` is whole dollars as a string. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [SyndicateStatisticsEnvelope]
    def get_syndicate_statistics(syndicate_id, opts = {})
      data, _status_code, _headers = get_syndicate_statistics_with_http_info(syndicate_id, opts)
      data
    end

    # Get syndicate statistics
    # Returns aggregate metrics for a syndicate including member counts, deal counts, total raised, and recent activity.  &#x60;total_raised&#x60; and &#x60;total_investors&#x60; are computed from directory-selected deals (one per company). &#x60;total_deals&#x60; and &#x60;live_deals&#x60; use all linked deals.  &#x60;total_raised&#x60; is whole dollars as a string. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateStatisticsEnvelope, Integer, Hash)>] SyndicateStatisticsEnvelope data, response status code and response headers
    def get_syndicate_statistics_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateStatisticsApi.get_syndicate_statistics ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateStatisticsApi.get_syndicate_statistics"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/statistics'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateStatisticsEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateStatisticsApi.get_syndicate_statistics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateStatisticsApi#get_syndicate_statistics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
