=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class SyndicatePortfolioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get syndicate portfolio summary
    # Returns totals across the syndicate's portfolio: cost basis, current value, gains, per-status deal counts, and the number of distinct investors. Accepts the same `status` and `company` filters as the positions endpoint to total a slice of the portfolio, such as only exited deals.  The summary covers the syndicate's funded deals, summed across everyone holding their securities (not just current members), as aggregate figures only. Member-level data is available on the members endpoints.  Portfolio values are recalculated periodically rather than on each request, so recent investments and valuation changes can take a few minutes to appear. `as_of` is the timestamp of the oldest calculation included in the response.  Monetary values are **integer cents**; per-share prices and return multiples are **decimal strings**. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Total only deals with this status.
    # @option opts [String] :company Total only positions in this company, by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [SyndicatePortfolioSummaryEnvelope]
    def get_syndicate_portfolio(syndicate_id, opts = {})
      data, _status_code, _headers = get_syndicate_portfolio_with_http_info(syndicate_id, opts)
      data
    end

    # Get syndicate portfolio summary
    # Returns totals across the syndicate&#39;s portfolio: cost basis, current value, gains, per-status deal counts, and the number of distinct investors. Accepts the same &#x60;status&#x60; and &#x60;company&#x60; filters as the positions endpoint to total a slice of the portfolio, such as only exited deals.  The summary covers the syndicate&#39;s funded deals, summed across everyone holding their securities (not just current members), as aggregate figures only. Member-level data is available on the members endpoints.  Portfolio values are recalculated periodically rather than on each request, so recent investments and valuation changes can take a few minutes to appear. &#x60;as_of&#x60; is the timestamp of the oldest calculation included in the response.  Monetary values are **integer cents**; per-share prices and return multiples are **decimal strings**. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Total only deals with this status.
    # @option opts [String] :company Total only positions in this company, by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [Array<(SyndicatePortfolioSummaryEnvelope, Integer, Hash)>] SyndicatePortfolioSummaryEnvelope data, response status code and response headers
    def get_syndicate_portfolio_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicatePortfolioApi.get_syndicate_portfolio ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicatePortfolioApi.get_syndicate_portfolio"
      end
      allowable_values = ["active", "exited", "sold", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/portfolio'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicatePortfolioSummaryEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicatePortfolioApi.get_syndicate_portfolio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicatePortfolioApi#get_syndicate_portfolio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List syndicate portfolio positions
    # Returns the syndicate's portfolio one deal at a time, newest first. Each position is one fundraise (\"offering\"), aggregated across everyone holding its securities, with `investor_count` at both the position and security level.  `securities` breaks each position down by security offering (for example, an early bird tier vs the regular terms) — most deals have a single entry. Fund and SPV deals identify the companies the vehicle invested in under `holdings`; some older vehicles have no recorded holdings and return an empty array. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Integer] :per_page Page size, 1-100. Defaults to 25. (default to 25)
    # @option opts [String] :status Filter positions by status.
    # @option opts [String] :company Filter to a single company by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [PortfolioPositionListEnvelope]
    def list_syndicate_portfolio_positions(syndicate_id, opts = {})
      data, _status_code, _headers = list_syndicate_portfolio_positions_with_http_info(syndicate_id, opts)
      data
    end

    # List syndicate portfolio positions
    # Returns the syndicate&#39;s portfolio one deal at a time, newest first. Each position is one fundraise (\&quot;offering\&quot;), aggregated across everyone holding its securities, with &#x60;investor_count&#x60; at both the position and security level.  &#x60;securities&#x60; breaks each position down by security offering (for example, an early bird tier vs the regular terms) — most deals have a single entry. Fund and SPV deals identify the companies the vehicle invested in under &#x60;holdings&#x60;; some older vehicles have no recorded holdings and return an empty array. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Cursor-based pagination token. Use the &#x60;next_cursor&#x60; value from the previous response&#39;s &#x60;meta&#x60; object to retrieve the next page of results. Omit this parameter to retrieve the first page. 
    # @option opts [Integer] :per_page Page size, 1-100. Defaults to 25. (default to 25)
    # @option opts [String] :status Filter positions by status.
    # @option opts [String] :company Filter to a single company by its id (&#x60;co_...&#x60;). Unknown ids return 404.
    # @return [Array<(PortfolioPositionListEnvelope, Integer, Hash)>] PortfolioPositionListEnvelope data, response status code and response headers
    def list_syndicate_portfolio_positions_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicatePortfolioApi.list_syndicate_portfolio_positions ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicatePortfolioApi.list_syndicate_portfolio_positions"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SyndicatePortfolioApi.list_syndicate_portfolio_positions, must be smaller than or equal to 100.'
      end

      allowable_values = ["active", "exited", "sold", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/portfolio/positions'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PortfolioPositionListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicatePortfolioApi.list_syndicate_portfolio_positions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicatePortfolioApi#list_syndicate_portfolio_positions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
