=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class SyndicatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get syndicate details
    # Returns full details for a specific syndicate including settings, team configuration, and summary metrics.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [SyndicateDetailEnvelope]
    def get_syndicate(syndicate_id, opts = {})
      data, _status_code, _headers = get_syndicate_with_http_info(syndicate_id, opts)
      data
    end

    # Get syndicate details
    # Returns full details for a specific syndicate including settings, team configuration, and summary metrics.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateDetailEnvelope, Integer, Hash)>] SyndicateDetailEnvelope data, response status code and response headers
    def get_syndicate_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicatesApi.get_syndicate ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicatesApi.get_syndicate"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDetailEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicatesApi.get_syndicate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicatesApi#get_syndicate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List syndicates
    # Returns syndicates the authenticated user can manage, based on their roles. Results can be filtered by status and sorted by name or creation date. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [SyndicateListEnvelope]
    def list_syndicates(opts = {})
      data, _status_code, _headers = list_syndicates_with_http_info(opts)
      data
    end

    # List syndicates
    # Returns syndicates the authenticated user can manage, based on their roles. Results can be filtered by status and sorted by name or creation date. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [Array<(SyndicateListEnvelope, Integer, Hash)>] SyndicateListEnvelope data, response status code and response headers
    def list_syndicates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicatesApi.list_syndicates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SyndicatesApi.list_syndicates, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/syndicates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicatesApi.list_syndicates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicatesApi#list_syndicates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update syndicate settings
    # Update syndicate configuration. Currently supports name, description, and tagline. Requires `write:syndicates` scope and at least operator permission. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param update_syndicate_request [UpdateSyndicateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SyndicateDetailEnvelope]
    def update_syndicate(syndicate_id, update_syndicate_request, opts = {})
      data, _status_code, _headers = update_syndicate_with_http_info(syndicate_id, update_syndicate_request, opts)
      data
    end

    # Update syndicate settings
    # Update syndicate configuration. Currently supports name, description, and tagline. Requires &#x60;write:syndicates&#x60; scope and at least operator permission. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param update_syndicate_request [UpdateSyndicateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateDetailEnvelope, Integer, Hash)>] SyndicateDetailEnvelope data, response status code and response headers
    def update_syndicate_with_http_info(syndicate_id, update_syndicate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicatesApi.update_syndicate ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicatesApi.update_syndicate"
      end
      # verify the required parameter 'update_syndicate_request' is set
      if @api_client.config.client_side_validation && update_syndicate_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_syndicate_request' when calling SyndicatesApi.update_syndicate"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_syndicate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDetailEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicatesApi.update_syndicate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicatesApi#update_syndicate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
