=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class SyndicateDealsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Close deal
    # Closing a deal is irreversible and requires human approval through the Intent system. This endpoint server-mints a pending `syndicates.close_deal` intent and returns the deal under `data` plus the intent's `review_url` under `meta.close_deal_intent`. The deal is not transitioned until a permitted human approves the intent in the Wefunder UI. Idempotent: a repeated call returns the same pending intent rather than minting a duplicate. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateDealCloseIntentEnvelope]
    def close_syndicate_deal(syndicate_id, fundraise_id, opts = {})
      data, _status_code, _headers = close_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts)
      data
    end

    # Close deal
    # Closing a deal is irreversible and requires human approval through the Intent system. This endpoint server-mints a pending &#x60;syndicates.close_deal&#x60; intent and returns the deal under &#x60;data&#x60; plus the intent&#39;s &#x60;review_url&#x60; under &#x60;meta.close_deal_intent&#x60;. The deal is not transitioned until a permitted human approves the intent in the Wefunder UI. Idempotent: a repeated call returns the same pending intent rather than minting a duplicate. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateDealCloseIntentEnvelope, Integer, Hash)>] SyndicateDealCloseIntentEnvelope data, response status code and response headers
    def close_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateDealsApi.close_syndicate_deal ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateDealsApi.close_syndicate_deal"
      end
      # verify the required parameter 'fundraise_id' is set
      if @api_client.config.client_side_validation && fundraise_id.nil?
        fail ArgumentError, "Missing the required parameter 'fundraise_id' when calling SyndicateDealsApi.close_syndicate_deal"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/deals/{fundraise_id}/close'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'fundraise_id' + '}', CGI.escape(fundraise_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDealCloseIntentEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateDealsApi.close_syndicate_deal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateDealsApi#close_syndicate_deal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finalize deal
    # Finalizing a deal is irreversible and requires human approval through the Intent system. This endpoint server-mints a pending `syndicates.finalize_deal` intent and returns the deal under `data` plus the intent's `review_url` under `meta.finalize_deal_intent`. The finalize runs only when a permitted human approves the intent in the Wefunder UI. Idempotent: a repeated call returns the same pending intent rather than minting a duplicate. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateDealFinalizeIntentEnvelope]
    def finalize_syndicate_deal(syndicate_id, fundraise_id, opts = {})
      data, _status_code, _headers = finalize_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts)
      data
    end

    # Finalize deal
    # Finalizing a deal is irreversible and requires human approval through the Intent system. This endpoint server-mints a pending &#x60;syndicates.finalize_deal&#x60; intent and returns the deal under &#x60;data&#x60; plus the intent&#39;s &#x60;review_url&#x60; under &#x60;meta.finalize_deal_intent&#x60;. The finalize runs only when a permitted human approves the intent in the Wefunder UI. Idempotent: a repeated call returns the same pending intent rather than minting a duplicate. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateDealFinalizeIntentEnvelope, Integer, Hash)>] SyndicateDealFinalizeIntentEnvelope data, response status code and response headers
    def finalize_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateDealsApi.finalize_syndicate_deal ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateDealsApi.finalize_syndicate_deal"
      end
      # verify the required parameter 'fundraise_id' is set
      if @api_client.config.client_side_validation && fundraise_id.nil?
        fail ArgumentError, "Missing the required parameter 'fundraise_id' when calling SyndicateDealsApi.finalize_syndicate_deal"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/deals/{fundraise_id}/finalize'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'fundraise_id' + '}', CGI.escape(fundraise_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDealFinalizeIntentEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateDealsApi.finalize_syndicate_deal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateDealsApi#finalize_syndicate_deal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal details
    # Returns full details for a specific deal including investor breakdown.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateDealDetailEnvelope]
    def get_syndicate_deal(syndicate_id, fundraise_id, opts = {})
      data, _status_code, _headers = get_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts)
      data
    end

    # Get deal details
    # Returns full details for a specific deal including investor breakdown.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateDealDetailEnvelope, Integer, Hash)>] SyndicateDealDetailEnvelope data, response status code and response headers
    def get_syndicate_deal_with_http_info(syndicate_id, fundraise_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateDealsApi.get_syndicate_deal ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateDealsApi.get_syndicate_deal"
      end
      # verify the required parameter 'fundraise_id' is set
      if @api_client.config.client_side_validation && fundraise_id.nil?
        fail ArgumentError, "Missing the required parameter 'fundraise_id' when calling SyndicateDealsApi.get_syndicate_deal"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/deals/{fundraise_id}'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'fundraise_id' + '}', CGI.escape(fundraise_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDealDetailEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateDealsApi.get_syndicate_deal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateDealsApi#get_syndicate_deal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List deal investors
    # Returns syndicate members who invested in this deal. Results are scoped to syndicate member user IDs only and sorted by amount descending.  **Manager/operator only.** Who invested how much is moderator data, as on the web deal pipeline page: an ordinary member, backer, or follower of the syndicate gets `403`, even with `read:syndicates`. Callers who pass that gate see `user_email`.  `amount` is whole dollars as a string (e.g. `\"5000\"` is $5,000).  Offset-paginated: pass `offset` and `per_page`; `meta` carries `total_count`, `offset`, `per_page`, and `has_more`. Without `per_page` the full list is returned. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Number of investors to skip. (default to 0)
    # @option opts [Integer] :per_page Results per page, 1-200. Omit to return every investor.
    # @return [DealInvestorListEnvelope]
    def list_syndicate_deal_investors(syndicate_id, fundraise_id, opts = {})
      data, _status_code, _headers = list_syndicate_deal_investors_with_http_info(syndicate_id, fundraise_id, opts)
      data
    end

    # List deal investors
    # Returns syndicate members who invested in this deal. Results are scoped to syndicate member user IDs only and sorted by amount descending.  **Manager/operator only.** Who invested how much is moderator data, as on the web deal pipeline page: an ordinary member, backer, or follower of the syndicate gets &#x60;403&#x60;, even with &#x60;read:syndicates&#x60;. Callers who pass that gate see &#x60;user_email&#x60;.  &#x60;amount&#x60; is whole dollars as a string (e.g. &#x60;\&quot;5000\&quot;&#x60; is $5,000).  Offset-paginated: pass &#x60;offset&#x60; and &#x60;per_page&#x60;; &#x60;meta&#x60; carries &#x60;total_count&#x60;, &#x60;offset&#x60;, &#x60;per_page&#x60;, and &#x60;has_more&#x60;. Without &#x60;per_page&#x60; the full list is returned. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param fundraise_id [String] The deal&#39;s id (&#x60;ofr_...&#x60;), as returned by the deals list. Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset Number of investors to skip. (default to 0)
    # @option opts [Integer] :per_page Results per page, 1-200. Omit to return every investor.
    # @return [Array<(DealInvestorListEnvelope, Integer, Hash)>] DealInvestorListEnvelope data, response status code and response headers
    def list_syndicate_deal_investors_with_http_info(syndicate_id, fundraise_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateDealsApi.list_syndicate_deal_investors ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateDealsApi.list_syndicate_deal_investors"
      end
      # verify the required parameter 'fundraise_id' is set
      if @api_client.config.client_side_validation && fundraise_id.nil?
        fail ArgumentError, "Missing the required parameter 'fundraise_id' when calling SyndicateDealsApi.list_syndicate_deal_investors"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SyndicateDealsApi.list_syndicate_deal_investors, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/syndicates/{syndicate_id}/deals/{fundraise_id}/investors'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'fundraise_id' + '}', CGI.escape(fundraise_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealInvestorListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateDealsApi.list_syndicate_deal_investors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateDealsApi#list_syndicate_deal_investors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List deals
    # Returns the syndicate's **live** deals (open, oversubscribed, or closing) with status, terms, and metrics. Closed and upcoming rounds are not listed; `statistics.total_deals` counts all linked rounds. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [SyndicateDealListEnvelope]
    def list_syndicate_deals(syndicate_id, opts = {})
      data, _status_code, _headers = list_syndicate_deals_with_http_info(syndicate_id, opts)
      data
    end

    # List deals
    # Returns the syndicate&#39;s **live** deals (open, oversubscribed, or closing) with status, terms, and metrics. Closed and upcoming rounds are not listed; &#x60;statistics.total_deals&#x60; counts all linked rounds. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [Array<(SyndicateDealListEnvelope, Integer, Hash)>] SyndicateDealListEnvelope data, response status code and response headers
    def list_syndicate_deals_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateDealsApi.list_syndicate_deals ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateDealsApi.list_syndicate_deals"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SyndicateDealsApi.list_syndicate_deals, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/syndicates/{syndicate_id}/deals'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateDealListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateDealsApi.list_syndicate_deals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateDealsApi#list_syndicate_deals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
