=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class SyndicateMembersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve applicant
    # Approve a pending applicant. Only applicants can be approved via API; invitees must accept their invite link.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def approve_syndicate_member(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = approve_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # Approve applicant
    # Approve a pending applicant. Only applicants can be approved via API; invitees must accept their invite link.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def approve_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.approve_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.approve_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.approve_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/approve'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.approve_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#approve_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Demote member to operator
    # Demote a member from full_access (admin) to operator permission.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def demote_syndicate_member(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = demote_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # Demote member to operator
    # Demote a member from full_access (admin) to operator permission.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def demote_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.demote_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.demote_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.demote_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/demote'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.demote_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#demote_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export members CSV
    # Generate a CSV export of the member directory. Returns the CSV data directly with Content-Type text/csv. Requires operator permission. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [String]
    def export_syndicate_members_csv(syndicate_id, opts = {})
      data, _status_code, _headers = export_syndicate_members_csv_with_http_info(syndicate_id, opts)
      data
    end

    # Export members CSV
    # Generate a CSV export of the member directory. Returns the CSV data directly with Content-Type text/csv. Requires operator permission. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def export_syndicate_members_csv_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.export_syndicate_members_csv ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.export_syndicate_members_csv"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/export_csv'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.export_syndicate_members_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#export_syndicate_members_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exile member
    # Exile (hide) a member from the syndicate. Sets their role to exiled.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def hide_syndicate_member(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = hide_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # Exile member
    # Exile (hide) a member from the syndicate. Sets their role to exiled.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def hide_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.hide_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.hide_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.hide_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/hide'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.hide_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#hide_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite member
    # Send an invitation to join the syndicate by email.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param invite_syndicate_member_request [InviteSyndicateMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def invite_syndicate_member(syndicate_id, invite_syndicate_member_request, opts = {})
      data, _status_code, _headers = invite_syndicate_member_with_http_info(syndicate_id, invite_syndicate_member_request, opts)
      data
    end

    # Invite member
    # Send an invitation to join the syndicate by email.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param invite_syndicate_member_request [InviteSyndicateMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def invite_syndicate_member_with_http_info(syndicate_id, invite_syndicate_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.invite_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.invite_syndicate_member"
      end
      # verify the required parameter 'invite_syndicate_member_request' is set
      if @api_client.config.client_side_validation && invite_syndicate_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'invite_syndicate_member_request' when calling SyndicateMembersApi.invite_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/invite'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invite_syndicate_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.invite_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#invite_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List member investments
    # Returns this member's investments in syndicate deals. Scoped to the syndicate's selected deals (one per company, matching directory semantics). **Moderator-only.**  `amount` and `meta.total_amount` are whole dollars as strings. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [MemberInvestmentListEnvelope]
    def list_syndicate_member_investments(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = list_syndicate_member_investments_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # List member investments
    # Returns this member&#39;s investments in syndicate deals. Scoped to the syndicate&#39;s selected deals (one per company, matching directory semantics). **Moderator-only.**  &#x60;amount&#x60; and &#x60;meta.total_amount&#x60; are whole dollars as strings. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberInvestmentListEnvelope, Integer, Hash)>] MemberInvestmentListEnvelope data, response status code and response headers
    def list_syndicate_member_investments_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.list_syndicate_member_investments ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.list_syndicate_member_investments"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.list_syndicate_member_investments"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/investments'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberInvestmentListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.list_syndicate_member_investments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#list_syndicate_member_investments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List members
    # Returns the member directory for a syndicate with role, status, tags, sidebar notes, and investment history summaries. Supports filtering, sorting, search, and pagination. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role Filter by role (e.g. creator, manager, member, invitee, applicant)
    # @option opts [String] :permission Filter by syndicate permission level
    # @option opts [String] :search Search by name or email
    # @option opts [String] :sort Sort order. &#x60;investment_amount&#x60; (highest total invested first) is **moderator-only**; non-moderators requesting it get the default order. Unknown values fall back to the default. 
    # @option opts [String] :has_invested Filter by whether the member has invested in any syndicate deal
    # @option opts [String] :accredited **Moderator-only.** Filter by accreditation status; ignored for non-moderators.
    # @option opts [String] :tag Filter by &#39;can help with&#39; tag (ILIKE match)
    # @option opts [String] :location Match on city, state, or country (public location data only).
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [SyndicateMemberListEnvelope]
    def list_syndicate_members(syndicate_id, opts = {})
      data, _status_code, _headers = list_syndicate_members_with_http_info(syndicate_id, opts)
      data
    end

    # List members
    # Returns the member directory for a syndicate with role, status, tags, sidebar notes, and investment history summaries. Supports filtering, sorting, search, and pagination. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role Filter by role (e.g. creator, manager, member, invitee, applicant)
    # @option opts [String] :permission Filter by syndicate permission level
    # @option opts [String] :search Search by name or email
    # @option opts [String] :sort Sort order. &#x60;investment_amount&#x60; (highest total invested first) is **moderator-only**; non-moderators requesting it get the default order. Unknown values fall back to the default. 
    # @option opts [String] :has_invested Filter by whether the member has invested in any syndicate deal
    # @option opts [String] :accredited **Moderator-only.** Filter by accreditation status; ignored for non-moderators.
    # @option opts [String] :tag Filter by &#39;can help with&#39; tag (ILIKE match)
    # @option opts [String] :location Match on city, state, or country (public location data only).
    # @option opts [String] :cursor Opaque cursor from the previous response&#39;s &#x60;meta.next_cursor&#x60;.
    # @option opts [Integer] :per_page Results per page, 1-100. Defaults to 25. (default to 25)
    # @return [Array<(SyndicateMemberListEnvelope, Integer, Hash)>] SyndicateMemberListEnvelope data, response status code and response headers
    def list_syndicate_members_with_http_info(syndicate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.list_syndicate_members ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.list_syndicate_members"
      end
      allowable_values = ["full_access", "operator"]
      if @api_client.config.client_side_validation && opts[:'permission'] && !allowable_values.include?(opts[:'permission'])
        fail ArgumentError, "invalid value for \"permission\", must be one of #{allowable_values}"
      end
      allowable_values = ["newest", "oldest", "alphabetical", "last_activity", "investment_amount"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'has_invested'] && !allowable_values.include?(opts[:'has_invested'])
        fail ArgumentError, "invalid value for \"has_invested\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'accredited'] && !allowable_values.include?(opts[:'accredited'])
        fail ArgumentError, "invalid value for \"accredited\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SyndicateMembersApi.list_syndicate_members, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'permission'] = opts[:'permission'] if !opts[:'permission'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'has_invested'] = opts[:'has_invested'] if !opts[:'has_invested'].nil?
      query_params[:'accredited'] = opts[:'accredited'] if !opts[:'accredited'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.list_syndicate_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#list_syndicate_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Promote member to admin
    # Promote a member to full_access (admin) role. Only the syndicate creator can promote members.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def promote_syndicate_member(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = promote_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # Promote member to admin
    # Promote a member to full_access (admin) role. Only the syndicate creator can promote members.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def promote_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.promote_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.promote_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.promote_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/promote'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.promote_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#promote_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove member (requires intent)
    # Removing a member is irreversible and requires human approval through the Intent system. This endpoint always returns 422 with a `use_intents` error directing you to `POST /intents` with action `syndicates.remove_member`. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_syndicate_member(syndicate_id, member_id, opts = {})
      remove_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      nil
    end

    # Remove member (requires intent)
    # Removing a member is irreversible and requires human approval through the Intent system. This endpoint always returns 422 with a &#x60;use_intents&#x60; error directing you to &#x60;POST /intents&#x60; with action &#x60;syndicates.remove_member&#x60;. 
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.remove_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.remove_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.remove_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.remove_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#remove_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reorder members
    # Set the display order for the member directory.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param reorder_syndicate_members_request [ReorderSyndicateMembersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def reorder_syndicate_members(syndicate_id, reorder_syndicate_members_request, opts = {})
      reorder_syndicate_members_with_http_info(syndicate_id, reorder_syndicate_members_request, opts)
      nil
    end

    # Reorder members
    # Set the display order for the member directory.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param reorder_syndicate_members_request [ReorderSyndicateMembersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def reorder_syndicate_members_with_http_info(syndicate_id, reorder_syndicate_members_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.reorder_syndicate_members ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.reorder_syndicate_members"
      end
      # verify the required parameter 'reorder_syndicate_members_request' is set
      if @api_client.config.client_side_validation && reorder_syndicate_members_request.nil?
        fail ArgumentError, "Missing the required parameter 'reorder_syndicate_members_request' when calling SyndicateMembersApi.reorder_syndicate_members"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/reorder'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reorder_syndicate_members_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.reorder_syndicate_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#reorder_syndicate_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend invitation
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resend_syndicate_invite(syndicate_id, member_id, opts = {})
      resend_syndicate_invite_with_http_info(syndicate_id, member_id, opts)
      nil
    end

    # Resend invitation
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resend_syndicate_invite_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.resend_syndicate_invite ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.resend_syndicate_invite"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.resend_syndicate_invite"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/resend_invite'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.resend_syndicate_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#resend_syndicate_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore exiled or resigned member
    # Restore a member who was previously exiled or resigned. Sets their role back to member.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def restore_syndicate_member(syndicate_id, member_id, opts = {})
      data, _status_code, _headers = restore_syndicate_member_with_http_info(syndicate_id, member_id, opts)
      data
    end

    # Restore exiled or resigned member
    # Restore a member who was previously exiled or resigned. Sets their role back to member.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def restore_syndicate_member_with_http_info(syndicate_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.restore_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.restore_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.restore_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}/restore'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.restore_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#restore_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update member
    # Update title and carry override for a member. Requires operator permission.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param update_syndicate_member_request [UpdateSyndicateMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SyndicateMemberEnvelope]
    def update_syndicate_member(syndicate_id, member_id, update_syndicate_member_request, opts = {})
      data, _status_code, _headers = update_syndicate_member_with_http_info(syndicate_id, member_id, update_syndicate_member_request, opts)
      data
    end

    # Update member
    # Update title and carry override for a member. Requires operator permission.
    # @param syndicate_id [String] The syndicate&#39;s id (&#x60;syn_...&#x60;).
    # @param member_id [String] The member&#39;s id (&#x60;mem_...&#x60;), as returned by the members list (&#x60;data[].id&#x60;). Integer ids are internal and not accepted.
    # @param update_syndicate_member_request [UpdateSyndicateMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SyndicateMemberEnvelope, Integer, Hash)>] SyndicateMemberEnvelope data, response status code and response headers
    def update_syndicate_member_with_http_info(syndicate_id, member_id, update_syndicate_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyndicateMembersApi.update_syndicate_member ...'
      end
      # verify the required parameter 'syndicate_id' is set
      if @api_client.config.client_side_validation && syndicate_id.nil?
        fail ArgumentError, "Missing the required parameter 'syndicate_id' when calling SyndicateMembersApi.update_syndicate_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling SyndicateMembersApi.update_syndicate_member"
      end
      # verify the required parameter 'update_syndicate_member_request' is set
      if @api_client.config.client_side_validation && update_syndicate_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_syndicate_member_request' when calling SyndicateMembersApi.update_syndicate_member"
      end
      # resource path
      local_var_path = '/syndicates/{syndicate_id}/members/{member_id}'.sub('{' + 'syndicate_id' + '}', CGI.escape(syndicate_id.to_s)).sub('{' + 'member_id' + '}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_syndicate_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SyndicateMemberEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SyndicateMembersApi.update_syndicate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyndicateMembersApi#update_syndicate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
