=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Follow a company
    # Follow the company for the authenticated user — exactly what pressing Follow on its Wefunder page does, side effects included (the company counts the user as a follower and may be notified; the user receives the company's updates). Idempotent: following an already-followed company returns `changed: false`. `404` for a company the site would not show this user. Requires `write:follows`, which the user grants explicitly; it is never implied by `read:mcp`. 
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FollowStateEnvelope]
    def follow_company(company_id, opts = {})
      data, _status_code, _headers = follow_company_with_http_info(company_id, opts)
      data
    end

    # Follow a company
    # Follow the company for the authenticated user — exactly what pressing Follow on its Wefunder page does, side effects included (the company counts the user as a follower and may be notified; the user receives the company&#39;s updates). Idempotent: following an already-followed company returns &#x60;changed: false&#x60;. &#x60;404&#x60; for a company the site would not show this user. Requires &#x60;write:follows&#x60;, which the user grants explicitly; it is never implied by &#x60;read:mcp&#x60;. 
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowStateEnvelope, Integer, Hash)>] FollowStateEnvelope data, response status code and response headers
    def follow_company_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.follow_company ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.follow_company"
      end
      # resource path
      local_var_path = '/users/me/follows/{company_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowStateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.follow_company",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#follow_company\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current user profile
    # Retrieves the profile information for the currently authenticated user. This endpoint returns basic user details including name, email, and account status.  Use this endpoint to: - Display user information in your application - Verify the identity of the authenticated user - Check user account status and permissions  The response includes the user's unique ID which can be used to reference the user in other API calls. 
    # @param [Hash] opts the optional parameters
    # @return [UserEnvelope]
    def get_current_user(opts = {})
      data, _status_code, _headers = get_current_user_with_http_info(opts)
      data
    end

    # Get current user profile
    # Retrieves the profile information for the currently authenticated user. This endpoint returns basic user details including name, email, and account status.  Use this endpoint to: - Display user information in your application - Verify the identity of the authenticated user - Check user account status and permissions  The response includes the user&#39;s unique ID which can be used to reference the user in other API calls. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserEnvelope, Integer, Hash)>] UserEnvelope data, response status code and response headers
    def get_current_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_current_user ...'
      end
      # resource path
      local_var_path = '/users/me'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.get_current_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_current_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the companies you follow
    # The authenticated user's watchlist — the companies they follow on wefunder.com (the same rows the site's Follow button writes), newest first. Each entry is in the search-result shape (`co_` id, name, tagline, URL, logo, `raising`, `profile_available`) plus `followed_at`. The list owner sees every company they follow. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 25)
    # @return [FollowedCompanyListEnvelope]
    def list_followed_companies(opts = {})
      data, _status_code, _headers = list_followed_companies_with_http_info(opts)
      data
    end

    # List the companies you follow
    # The authenticated user&#39;s watchlist — the companies they follow on wefunder.com (the same rows the site&#39;s Follow button writes), newest first. Each entry is in the search-result shape (&#x60;co_&#x60; id, name, tagline, URL, logo, &#x60;raising&#x60;, &#x60;profile_available&#x60;) plus &#x60;followed_at&#x60;. The list owner sees every company they follow. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :per_page  (default to 25)
    # @return [Array<(FollowedCompanyListEnvelope, Integer, Hash)>] FollowedCompanyListEnvelope data, response status code and response headers
    def list_followed_companies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.list_followed_companies ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling UsersApi.list_followed_companies, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/users/me/follows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowedCompanyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.list_followed_companies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#list_followed_companies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the companies you edit
    # The companies the authenticated user is a founder or team member of — precisely the companies the founder-scoped endpoints under `/companies/{company_id}/...` (dashboard, investors, fundraises) will accept. Anyone else's company returns 403 there, so call this first to learn which `co_` ids you hold. Not paginated.  `raising` is true when the company has a round currently accepting investments or reservations. `roles` are the user's roles on the company (`founder`, `employee`, ...). 
    # @param [Hash] opts the optional parameters
    # @return [MyCompanyListEnvelope]
    def list_my_companies(opts = {})
      data, _status_code, _headers = list_my_companies_with_http_info(opts)
      data
    end

    # List the companies you edit
    # The companies the authenticated user is a founder or team member of — precisely the companies the founder-scoped endpoints under &#x60;/companies/{company_id}/...&#x60; (dashboard, investors, fundraises) will accept. Anyone else&#39;s company returns 403 there, so call this first to learn which &#x60;co_&#x60; ids you hold. Not paginated.  &#x60;raising&#x60; is true when the company has a round currently accepting investments or reservations. &#x60;roles&#x60; are the user&#39;s roles on the company (&#x60;founder&#x60;, &#x60;employee&#x60;, ...). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MyCompanyListEnvelope, Integer, Hash)>] MyCompanyListEnvelope data, response status code and response headers
    def list_my_companies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.list_my_companies ...'
      end
      # resource path
      local_var_path = '/users/me/companies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MyCompanyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.list_my_companies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#list_my_companies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unfollow a company
    # Unfollow the company for the authenticated user. Idempotent (`changed` is false when they were not following it). No visibility gate: a follow you hold is always undoable, even for a company since hidden. Requires `write:follows`.
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FollowStateEnvelope]
    def unfollow_company(company_id, opts = {})
      data, _status_code, _headers = unfollow_company_with_http_info(company_id, opts)
      data
    end

    # Unfollow a company
    # Unfollow the company for the authenticated user. Idempotent (&#x60;changed&#x60; is false when they were not following it). No visibility gate: a follow you hold is always undoable, even for a company since hidden. Requires &#x60;write:follows&#x60;.
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowStateEnvelope, Integer, Hash)>] FollowStateEnvelope data, response status code and response headers
    def unfollow_company_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.unfollow_company ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.unfollow_company"
      end
      # resource path
      local_var_path = '/users/me/follows/{company_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowStateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.unfollow_company",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#unfollow_company\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
