=begin
#Wefunder API v2

#OAuth 2.0 API for accessing Wefunder data programmatically.  ## Authentication  This API uses OAuth 2.0 for authentication. To get started:  1. Create an OAuth application at `/oauth/applications` 2. Get your Client ID and Client Secret 3. Implement the OAuth 2.0 Authorization Code flow 4. Use the access token to make API requests  ## Versioning  The API is versioned by the dated `Wefunder-Version` request header (`YYYY-MM-DD`), never by the URL. Resolution is header → your application's pinned version → latest; every response carries `Wefunder-Version` (the version that handled it) and `Wefunder-Version-Latest`. An unknown value returns `400 invalid_request` naming the valid versions. Current: `2026-10-01`.  ## Rate Limits  - Standard API: 1,000 requests/hour per token - Admin API: 10,000 requests/hour per token  ## Base URL  All API requests should be made to: `https://api.wefunder.com` (no version in the path). 

The version of the OpenAPI document: 2.0
Contact: api@wefunder.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module WefunderGenerated
  class WebhookEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a webhook endpoint
    # Registers an endpoint for your application. The response is the only time the signing `secret` is returned; store it to verify signatures. Requires an owner, admin, or developer role in the application's organization.  On the sandbox API this returns `403 manage_endpoints_on_live_api`: create test endpoints through the live API with `mode: \"test\"`, and they are mirrored into sandbox. 
    # @param create_webhook_endpoint_request [CreateWebhookEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointEnvelope]
    def create_webhook_endpoint(create_webhook_endpoint_request, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_with_http_info(create_webhook_endpoint_request, opts)
      data
    end

    # Create a webhook endpoint
    # Registers an endpoint for your application. The response is the only time the signing &#x60;secret&#x60; is returned; store it to verify signatures. Requires an owner, admin, or developer role in the application&#39;s organization.  On the sandbox API this returns &#x60;403 manage_endpoints_on_live_api&#x60;: create test endpoints through the live API with &#x60;mode: \&quot;test\&quot;&#x60;, and they are mirrored into sandbox. 
    # @param create_webhook_endpoint_request [CreateWebhookEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointEnvelope, Integer, Hash)>] WebhookEndpointEnvelope data, response status code and response headers
    def create_webhook_endpoint_with_http_info(create_webhook_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.create_webhook_endpoint ...'
      end
      # verify the required parameter 'create_webhook_endpoint_request' is set
      if @api_client.config.client_side_validation && create_webhook_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_endpoint_request' when calling WebhookEndpointsApi.create_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.create_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#create_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a webhook endpoint
    # Stops deliveries immediately. The endpoint is retained as removed and cannot be restored. Returns `403 manage_endpoints_on_live_api` on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [DeleteWebhookEndpoint200Response]
    def delete_webhook_endpoint(external_id, opts = {})
      data, _status_code, _headers = delete_webhook_endpoint_with_http_info(external_id, opts)
      data
    end

    # Remove a webhook endpoint
    # Stops deliveries immediately. The endpoint is retained as removed and cannot be restored. Returns &#x60;403 manage_endpoints_on_live_api&#x60; on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteWebhookEndpoint200Response, Integer, Hash)>] DeleteWebhookEndpoint200Response data, response status code and response headers
    def delete_webhook_endpoint_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.delete_webhook_endpoint ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.delete_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteWebhookEndpoint200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.delete_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#delete_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook endpoint
    # Requires an owner, admin, or developer role in the application's organization.
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointEnvelope]
    def get_webhook_endpoint(external_id, opts = {})
      data, _status_code, _headers = get_webhook_endpoint_with_http_info(external_id, opts)
      data
    end

    # Get a webhook endpoint
    # Requires an owner, admin, or developer role in the application&#39;s organization.
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointEnvelope, Integer, Hash)>] WebhookEndpointEnvelope data, response status code and response headers
    def get_webhook_endpoint_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.get_webhook_endpoint ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.get_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.get_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#get_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook endpoints
    # Your application's webhook endpoints. The signing secret is never included. Requires an owner, admin, or developer role in the application's organization. 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointListEnvelope]
    def list_webhook_endpoints(opts = {})
      data, _status_code, _headers = list_webhook_endpoints_with_http_info(opts)
      data
    end

    # List webhook endpoints
    # Your application&#39;s webhook endpoints. The signing secret is never included. Requires an owner, admin, or developer role in the application&#39;s organization. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointListEnvelope, Integer, Hash)>] WebhookEndpointListEnvelope data, response status code and response headers
    def list_webhook_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.list_webhook_endpoints ...'
      end
      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.list_webhook_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#list_webhook_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-enable a disabled endpoint
    # Recovery after auto-disable. Idempotent. Requires an org management role on the live API. Also allowed on the sandbox API for an endpoint sandbox itself disabled (sandbox runs its own health checks on its mirror of a test endpoint), authorized by the caller's realm. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointEnvelope]
    def reenable_webhook_endpoint(external_id, opts = {})
      data, _status_code, _headers = reenable_webhook_endpoint_with_http_info(external_id, opts)
      data
    end

    # Re-enable a disabled endpoint
    # Recovery after auto-disable. Idempotent. Requires an org management role on the live API. Also allowed on the sandbox API for an endpoint sandbox itself disabled (sandbox runs its own health checks on its mirror of a test endpoint), authorized by the caller&#39;s realm. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointEnvelope, Integer, Hash)>] WebhookEndpointEnvelope data, response status code and response headers
    def reenable_webhook_endpoint_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.reenable_webhook_endpoint ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.reenable_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}/reenable'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.reenable_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#reenable_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate the signing secret
    # Returns a new signing secret (shown once). The previous secret keeps signing for a 24h overlap window, so deliveries carry a `v1` for both; verify against either. Returns `403 manage_endpoints_on_live_api` on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointEnvelope]
    def rotate_webhook_endpoint_secret(external_id, opts = {})
      data, _status_code, _headers = rotate_webhook_endpoint_secret_with_http_info(external_id, opts)
      data
    end

    # Rotate the signing secret
    # Returns a new signing secret (shown once). The previous secret keeps signing for a 24h overlap window, so deliveries carry a &#x60;v1&#x60; for both; verify against either. Returns &#x60;403 manage_endpoints_on_live_api&#x60; on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointEnvelope, Integer, Hash)>] WebhookEndpointEnvelope data, response status code and response headers
    def rotate_webhook_endpoint_secret_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.rotate_webhook_endpoint_secret ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.rotate_webhook_endpoint_secret"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}/rotate_secret'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.rotate_webhook_endpoint_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#rotate_webhook_endpoint_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a test event
    # Sends a real, signed example event (fake values) using the production envelope, signature scheme, and transport, and reports the outcome inline. Does not affect delivery health. Rate-limited to 10 per minute per endpoint. Investor email appears in the example only if your application holds `read:investors:pii`, matching what real deliveries can carry. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @option opts [TestWebhookEndpointRequest] :test_webhook_endpoint_request 
    # @return [WebhookEndpointTestResultEnvelope]
    def test_webhook_endpoint(external_id, opts = {})
      data, _status_code, _headers = test_webhook_endpoint_with_http_info(external_id, opts)
      data
    end

    # Send a test event
    # Sends a real, signed example event (fake values) using the production envelope, signature scheme, and transport, and reports the outcome inline. Does not affect delivery health. Rate-limited to 10 per minute per endpoint. Investor email appears in the example only if your application holds &#x60;read:investors:pii&#x60;, matching what real deliveries can carry. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @option opts [TestWebhookEndpointRequest] :test_webhook_endpoint_request 
    # @return [Array<(WebhookEndpointTestResultEnvelope, Integer, Hash)>] WebhookEndpointTestResultEnvelope data, response status code and response headers
    def test_webhook_endpoint_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.test_webhook_endpoint ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.test_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}/test'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'test_webhook_endpoint_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointTestResultEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.test_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#test_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook endpoint
    # `events` replaces the subscription list wholesale (no merge); omit it to leave it unchanged. An endpoint must subscribe to at least one event, so `[]` and `null` are rejected; delete the endpoint to stop all deliveries. Requires an org management role. Returns `403 manage_endpoints_on_live_api` on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWebhookEndpointRequest] :update_webhook_endpoint_request 
    # @return [WebhookEndpointEnvelope]
    def update_webhook_endpoint(external_id, opts = {})
      data, _status_code, _headers = update_webhook_endpoint_with_http_info(external_id, opts)
      data
    end

    # Update a webhook endpoint
    # &#x60;events&#x60; replaces the subscription list wholesale (no merge); omit it to leave it unchanged. An endpoint must subscribe to at least one event, so &#x60;[]&#x60; and &#x60;null&#x60; are rejected; delete the endpoint to stop all deliveries. Requires an org management role. Returns &#x60;403 manage_endpoints_on_live_api&#x60; on the sandbox API; use the live API. 
    # @param external_id [String] The webhook endpoint&#39;s id (whe_...).
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWebhookEndpointRequest] :update_webhook_endpoint_request 
    # @return [Array<(WebhookEndpointEnvelope, Integer, Hash)>] WebhookEndpointEnvelope data, response status code and response headers
    def update_webhook_endpoint_with_http_info(external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.update_webhook_endpoint ...'
      end
      # verify the required parameter 'external_id' is set
      if @api_client.config.client_side_validation && external_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_id' when calling WebhookEndpointsApi.update_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{external_id}'.sub('{' + 'external_id' + '}', CGI.escape(external_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_webhook_endpoint_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.update_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#update_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
